[2018-04-17 08:00] rasputinoz commented on #283
ok I don't know if it is relevant or just a coincidence. Been playing Single player Rise anf Fall with the Expansion version and have encountered the usual bugs ,that is Research and Civics not showing what is currently being researched and the City States Envoy screen not working. For some unknown reason I started a Multiplayer game of Rise and Fall on Internet mode. I started game with no other

[2018-04-17 14:57] r0h1t4sh commented on #283
+1 I have also encountered the issue where city states envoys screen
doesn't work

On Tue 17 Apr, 2018, 1:31 PM rasputinoz, <notifications@github.com> wrote:

[2018-04-19 20:08] rasputinoz commented on #283
Still no issues with the BETA version. Well done guys , appears to be working well now.

[2018-04-21 13:02] wayneb64 commented on #283
Where is this BETA version and what exactly is it? Sorry for my GitHub ignorance but I get completely lost clicking around in GitHub. Is this BETA version the latest version of code for Rise and Fall?

[2018-04-21 16:00] jonpfl opened #323 "'City Status' not displaying correctly bug?"
All,

The 'City Status' is only displaying ONE city and it has labels in the cells instead of data (ie '$Housing$', '$Amenities$', etc).

![image](https://user-images.githubusercontent.com/30752966/39086151-82464120-455b-11e8-82cb-9569e46a8230.png)

Thx
jonpfl

[2018-04-21 19:56] rasputinoz commented on #283
Under the code section , 3 branches , choose the Expansion . Not the master one

Sent from my iPhone

On 21 Apr 2018, at 10:33 pm, wayneb64 <notifications@github.com<mailto:notifications@github.com>> wrote:

Where is this BETA version and what exactly is it? Sorry for my GitHub ignorance but I get completely lost clicking around in GitHub. Is this BETA version the latest version of code for Rise a

[2018-04-24 10:56] oro1989 commented on #283
@rasputinoz does the Expansion branch work with Rise and Fall and 1.0.0.216, or 1.0.0.229 ???

[2018-04-24 11:30] Nijin22 commented on #283
@oro1989 Not completely. I managed to get the game running, but some features are still not working (like sending envoy to city states - see #321)

[2018-04-24 23:27] JeffreyMGeorge opened #324 "Menu Options Have No Effect"
I notice that when I'm running this mod for Rise & Fall that the CQUI menu options have no effect. For example, I uncheck the box to automatically display yields (because I don't like seeing them everywhere), but the map screen doesn't change. Likewise, with other city settings. I also don't believe I'm getting the 50%/100% Civ Tech notifier. Is it an audio alert? An onscreen message? I'm running

[2018-04-25 19:26] YangMeng0721 commented on #283
Right, I had the same tech/civic not showing and city-state envoys issues before. When I checked out the `expansion1` branch, those problem had been solved. @Nijin22 Are you sure you are on branch `expansion1`?

[2018-04-26 09:36] Nijin22 commented on #283
@YangMeng0721 - yes, I just double checked. I'm on 3df8664

[2018-04-26 10:03] Jeltex commented on #92
Hey I've got a holidayweek comming up and I would like to start to contribute a small amount to this amazing mod. I am a bit new to modding/ coding so I cannot promise to get something good on the first time but I will try!

I will try and look what I can do for this issue. Might even try some other easy issues.

[2018-04-26 15:37] BlackSmokeDMax opened #325 "Suggestion: Option for disabling era lighting."
I think it would be great to have something where you could disable the different era lighting of the game (dark age, normal, golden)

Making it optional to disable AND/OR select one to be on full time would probably also be pretty cool.

Of course even if you consider adding something like this, I would completely agree to wait for the R&F version of CQUI to be fully released, and probably even w

[2018-04-27 02:56] duvaljd commented on #283
Thanks @Azurency for all your work here! Love this mod, can't play Civ VI without it anymore.

I'm using the expansion1 branch on Rise & Fall. I can't seem to figure out how to see Loyalty information - other than the Lens, which only lets you see where the sources of Loyalty are coming from, not specific numbers. Is anyone else experiencing this bug?

[2018-04-27 13:37] ajbrown commented on #283
I'd suggest either keeping a list of "actual things that are broken" in the issue, or making sure there's an issue linked to this one for every actually thing that is broken.  That'll help people understand what bugs the should and shouldn't be reported, as well as a good indication of progress. I love this mod and have some PM and dev skills, so wouldn't mind helping out in that regard if needed.

[2018-04-27 14:15] ihendriks commented on #283
Yeah I agree there's basically no overview about the state of the project. I've been following pretty closely since the release of R&F and I don't even know where we stand at this point. Don't have the time to really figure out what needs to be looked at either, so I end up not doing anything at all... I'm sure others have the same problem in that regard.

Maybe it's an idea to get some more peopl

[2018-04-28 19:40] Azurency commented on #283
## Update on CQUI for Rise and Fall

### How anyone can help
I updated some more files, it's time to **start testing** the `Expansion1` branch 🎉. Be sure when doing so to install it cleanly (removing old version, workshop version, etc.).
Some people reported that the city state screen did not allow them to send envoys, so it's something to look at.

⚠️ When you have found a bug :

- post a new mes

[2018-04-28 23:39] ihendriks commented on #283
@Azurency

The new file shouldn't have any affect on the removal of that tab, but I can't figure out where it's going wrong either.
Makes more sense that there's an issue with the mod's governmentscreen.lua, since they slightly changed the window/screen size calculation and maybe that's breaking it. But I didn't get that far.

[2018-04-28 23:55] Asyzgany opened #326 "Science and civic won't show on the screen"
![desktop screenshot 2018 04 28 - 18 52 34 81](https://user-images.githubusercontent.com/38674031/39401856-880d2a64-4b15-11e8-8fc4-4d7048bd8d65.png)
![desktop screenshot 2018 04 28 - 18 52 39 13](https://user-images.githubusercontent.com/38674031/39401857-8818d81e-4b15-11e8-8695-3e63f2ebca9c.png)
This is without any mods enabled other than CQUI, so I know that it is not another mod messing up... t

[2018-04-29 09:30] rasputinoz commented on #283
Thanks for the latest update. Installed and testing. No issues after starting three random games.

[2018-04-29 16:39] PRoosta commented on #283
@Azurency

So I just tested the latest CQUI Expansion 1 version on 1.0.0.216 and the Tech Tree does not work/show up at all. The Civic Tree works just fine unlike what is mentioned in #326.

I've included the [Logs](https://github.com/Azurency/CQUI_Community-Edition/files/1958950/Logs.zip) and even a [save file](https://github.com/Azurency/CQUI_Community-Edition/files/1958951/PETER.1.4000.BC.zip)

[2018-04-30 00:50] Asyzgany commented on #326
yeah, redownloaded mod, and now it works fine.

[2018-04-30 12:35] gungungunyyy opened #327 "CQUI is missing from saved games"
I was running a Vanilla game with CQUI mod and it's no problem with in game But when I saved my current game and then I come back to play my saved game. CQUI is disappeared from additional content list and it seem like all my saved game got the same problem. Anyone got this problem? pls Help me out.

[2018-05-01 14:08] Azurency commented on #283
@PRoosta Yes, you should be on the latest version. I just updated the testing instructions to make that clear to everyone.

[2018-05-01 15:09] BlackSmokeDMax commented on #283
So far, mostly so smooth.

Only issue I have seen is with auto-applying the scout lens, it is just not happening. I can select it via the lens button near the mini map and it works just fine. Just not auto turning on while scout is selected.

I have checked in the CQUI options and it *is* turned on.

This game is with the Cree, who happen to have the special scout unit, the Okihtcitaw. Perhaps tha

[2018-05-02 05:08] camk16 opened #328 "Waterpark Pin is Bugged"
![untitled](https://user-images.githubusercontent.com/30790283/39506231-3552b70c-4d8c-11e8-9b31-b3a32187489a.png)

[2018-05-02 05:10] #328 closed

[2018-05-02 05:11] camk16 commented on #283
Waterpark pin is bugged?

![untitled](https://user-images.githubusercontent.com/30790283/39506311-926b0a20-4d8c-11e8-9785-7abde6a0abd2.png)

[2018-05-02 23:10] mattflynn-dev commented on #283
Found a very, very minor bug.
Changing the map overlay options to always show tile yields doesn't carry over in the save state. Upon each load, I have to select to show the yield overlay manually. The base game saves remember this on load.
This isn't significant issue by any means, but thought it would be useful to report in case it has knock-on effects elsewhere.

[Logs.zip](https://github.com/Az

[2018-05-05 21:27] alexeyOnGitHub commented on #283
I downloaded the latest version of "expansion" branch, tried it with Civ6 RaF 1.0.0.229 (build 339082). I still have  this https://github.com/Azurency/CQUI_Community-Edition/issues/326 issue.
also, cannot send envoys to city states.
note - I have the old "official" CQUI version (from Steam workshop) listed in "additional content" alongside with the one I downloaded, but I disabled that one. not su

[2018-05-08 14:15] KotoTheMage commented on #326
I have a freshly installed Civ6 + Rise and Fall. I'm not subscribed for any 3d party dlcs/mods in steam. The mods folder ("Documents/.../My games/Sid Meier's Civilization VI/Mods") is empty when I copy the lastest CQUI mod.
Still the issue persist as another person described above. No research window and can't send envoys.
I'm playing English version of the game on Russian OS (Windows 10). Maybe i

[2018-05-08 21:31] ihendriks commented on #326
@KotoTheMage Can you check in the steam workshop folder to see if it's there? You can find the steam workshop folder of Civ 6 in `..\steam\steamapps\workshop\content\289070\`, and the mod itself has number `1125169247`.

If that folder exists, delete it and see if that sorts out the issue. If it doesn't than let us know.

[2018-05-09 05:25] KotoTheMage commented on #326
@ihendriks C:\Program Files (x86)\Steam\steamapps\workshop\content\289070 is empty for me.

[2018-05-09 12:08] ihendriks commented on #326
@KotoTheMage Can you post your logs and savegame here? You can find them in `..\documents\my games\sid meier's civilization vi\`. I'll take a look at them and see if I can figure this one out.

[2018-05-10 02:41] KotoTheMage commented on #326
@ihendriks Thank you for taking your time to figure this out, much appreciated. Here's the files you asked.
[ArtDef.log](https://github.com/Azurency/CQUI_Community-Edition/files/1990121/ArtDef.log)
[AStar_APP.log](https://github.com/Azurency/CQUI_Community-Edition/files/1990122/AStar_APP.log)
[AStar_GC.log](https://github.com/Azurency/CQUI_Community-Edition/files/1990123/AStar_GC.log)
[BlockerLog.

[2018-05-10 10:55] moepmoep12 commented on #326
I'm having the same issue and additionally I can't send envoys and pressing "Escape" doesn't bring up the main menu.

[2018-05-10 13:13] ihendriks commented on #326
@KotoTheMage You are loading the wrong version of the mod. You need to select the Expansion1 branch when you download it on github. You can find the correct version here: [CQUI/Expansion1](https://github.com/Azurency/CQUI_Community-Edition/archive/expansion1.zip)

[2018-05-10 13:13] ihendriks commented on #326
@moepmoep12 Can you follow the steps I provided throughout this comment chain and let me know how that goes?

[2018-05-10 14:35] KotoTheMage commented on #326
@ihendriks oh, snap. thanks a lot!

[2018-05-10 17:56] moepmoep12 commented on #326
oh dear, of course!

[2018-05-10 19:47] therealcrow999 opened #329 "CQUI Expansion 1, Can't Expand and Open Tech Tree"
With today's (5/10/18), new update. The Tech Tree can't be open to be expanded. For example if a Tech I researched is done and I click to see Recommended and then I click up top to expand and see the whole Tech Tree, it won't open. The Civic Tree seems to be working fine.

Thanks.

[2018-05-10 20:08] wayneb64 commented on #329
Back to offline mode I guess, I managed to interrupt the update and it says "Update paused". Anyone know if my game is hosed now or does it download first and then modify later?

Does this break Vanilla or R&F or both?

[2018-05-10 20:35] whitenoise500 commented on #329
It seems both as I'm having the same issue with vanilla...

On Thu, May 10, 2018, 4:08 PM wayneb64 <notifications@github.com> wrote:

[2018-05-10 23:20] Johnson84025 opened #330 "City Panels Not Showing - No Rise & Fall"
For some reason, my city panels are not showing and I am 99.99% it is a user error. I could use some help with finding where I messed up though.

I do not believe that I have any conflicting mods and I attempted to use steam and manual install, I also followed install instructions.

Below are my mods and add-ons for the game as well as a screenshot of my city view:
- DLC: Australia Civilization Pa

[2018-05-10 23:58] rasputinoz commented on #329
Yes same problem. Cant open Tech Tree.

[2018-05-10 23:59] MarkusKV commented on #329
Ditto.  Using the spring drop and the tech panel does not open.  Civics panel opens fine.

[2018-05-10 23:59] rasputinoz commented on #327
Yes discovered same problem this morning. Saved games don't have CQUI in the list of installed mods

[2018-05-11 07:07] pspjuth commented on #329
[techtree.zip](https://github.com/Azurency/CQUI_Community-Edition/files/1994275/techtree.zip)
Attached is a fixed techtree.lua that works for me. For some reason I cannot push a pull request right now.

[2018-05-11 12:29] trafenrest commented on #329
Works for me too, after I copied it to `...SteamLibrary\steamapps\workshop\content\289070\1125169247\Assets\UI\Screens`

[2018-05-11 16:16] therealcrow999 commented on #329
@pspjuth Thanks for the fix! I put it in my CQUI_Community-Edition-expansion1 folder and it works fine.

[2018-05-11 16:54] wayneb64 commented on #329
Will that fix work for the Vanilla version of CQUI in the main branch or is a different fix needed?

[2018-05-11 17:06] whitenoise500 commented on #329
This fix works for vanilla.  Just tried it.

On Fri, May 11, 2018, 12:54 PM wayneb64 <notifications@github.com> wrote:

[2018-05-11 18:16] pspjuth commented on #329
I merged the game file changes into the master branch version of that file.
I don't have R&F yet, but I haven't noticed any obvious problems in the base game,
except for the one fixed here.

[2018-05-11 20:30] Azurency opened #331 "Spring 2018 update (1.0.0.257)"
So we haven't finish to fully update the mod [for the Rise and Fall expansion](https://github.com/Azurency/CQUI_Community-Edition/issues/283) and already another patch is pushed by Firaxis.

#### 🤔 About the Rise and Fall issue
I created this new issue even though [the other one](https://github.com/Azurency/CQUI_Community-Edition/issues/283) is not closed because I don't want to clutter the alread

[2018-05-11 20:33] Azurency commented on #331
Here are the diffs : https://github.com/Azurency/Civ6-UIFiles/commit/ad103891208f1dfab5acc3bd16a690453fab06f1.
About **35 files changed** (it says a lot more on GitHub because there're some encoding change that are not relevant).
I'll make a list of what needs to be looked at now.

[2018-05-11 21:32] Azurency commented on #331
The list of files to change :

#### CQUI changes

- [ ] `actionpanel.lua`, very few changes - _easy_
- [x] `citysupport.lua`, two lines - _easy_
- [x] `civ6common.lua`, one if - _easy_
- [x] `diplomacyactionview.lua`, one line - _easy_
- [x] `ingame.lua`, one line - _easy_
- [ ] `panels/citypaneloverview.lua`, few changes - _easy_
- [ ] `panels/citypaneloverview.xml`, few changes - _easy_
- [ ] `p

[2018-05-12 00:48] Johnson84025 commented on #330
@Azurency can you assist me?

[2018-05-12 12:54] ihendriks commented on #330
Choarace doesn't work on this project anymore.

The best thing you can do is try the game without any mod (except for CQUI), and see if the issue persists. If it does, please upload your savefile and logs here. You can find them in `..\documents\my games\sid meier's civilization vi\`. Let me know how that goes.

[2018-05-12 16:13] pspjuth commented on #331
techtree.lua has a fix here: #329

[2018-05-13 22:50] Azurency commented on #331
Great, thanks to the contributors the cqui part is done 🎉, now we need to move on to the integrations.

#### About the integrations
As I don't know is @astog is going to update BES and BTS quickly, we'll make the changes and create a pull request in here **and in his repos also**.

[2018-05-13 23:00] #326 closed

[2018-05-13 23:07] Azurency commented on #327
Might be related to https://github.com/Azurency/CQUI_Community-Edition/commit/9d33d0d1c60c926b40e03137dd4ae72d421ae87a.
It's not listed because cqui is not changing the game itself but instead only the interface and it was decided some time ago to make it so that it does not affect save game. However if the mod is enabled it should be loading.

[2018-05-14 00:23] rasputinoz commented on #329
sadly doesn't work in RF .  will have t o wait

[2018-05-14 10:53] Azurency commented on #331
So everything is updated but `diplomacydealview.lua` need to be tested for the new third party war, I think it might not work as it is. We'll need to implement that. (I don't have time to test right now, I'll try as soon as I can).

[2018-05-14 23:56] MarkusKV commented on #331
So, I thought I'd try this branch against 1.0.0.257 with R&F ruleset.  It's not really working.  Tech and Civics are not displayed in the upper right.  I went back to expansion1 (with the techtree fix) and its working with 1.0.0.257 with R&F ruleset.  Am I missing something?  Am I thick?

I downloaded the zip of this branch rather than cloning.

[2018-05-15 00:16] NoShotz commented on #331
This isn't updated for R&F yet

[2018-05-15 00:34] MarkusKV commented on #331
Thanks. I'll go back to expansion1.  Seems to work for everything I've done so far.

[2018-05-15 01:51] rasputinoz commented on #329
Seems to be working with RF now. gotta hate computers sometimes.

[2018-05-15 01:53] rasputinoz commented on #327
IT not only not listed. it isn't activated in game any more.

Works with New Games , but existing saved games not working

[2018-05-15 07:50] Nansen17 commented on #283
I have played ca. 150 turns with the Spring 2018 update and your Expansion1 test build without any problems. All features I tried were working properly. Game was with Barbarossa, and the only other mod active was Detailed Worlds (which as far as I understand only influences map generation).
Great work, keep it up!

[2018-05-15 12:00] ihendriks commented on #283
@Nansen17 Did you try the new trade option to join an ongoing war (or ask AI to join)?

[2018-05-15 15:09] Nansen17 commented on #283
No, I didn't, but will post again once I had a chance to do so.

[2018-05-16 00:17] rasputinoz commented on #321
this seems to have become active since the latest Patch. Wasn't an issue until playing today.

[2018-05-16 01:12] rasputinoz commented on #331
hopefully they get back to RF fixes if this is now done. seem to be finding more bugs in RF even with the expansion and Techtree loaded.
IE. Citystate envoy screen not working.

[2018-05-16 13:45] ihendriks commented on #321
The R&F version of the mod hasn't been updated for the Spring patch yet, so you'll have to wait until that's taken care of.

[2018-05-18 05:08] rasputinoz opened #338 "Scout Lens not working for Non standard scouts - Possibly fixed"
Scout Lens not working for Non standard scouts eg. Scythian Empire

This is Vanilla issue not running RF for this game and no lens becomes activated when scout is active.

[2018-05-19 06:09] BlackSmokeDMax commented on #338
Sounds like same issue i reported in the other thread in regards to the Cree scout unit. The lens just didn't auto activate, but i could still turn it on manually. This was prior to spring update.

[2018-05-20 16:08] Nansen17 commented on #283
@ihendriks: I have tried it now, and I can see the menu options for both parties under "deals", but whichever details I chose there is a exclamation mark in red with "Offer blocking deal" and I can't close a deal. Will have to start a new game without CQUI to see if it works without.

[2018-05-21 08:56] Nansen17 commented on #283
@ihendriks
In a regular game without CQUI the options to join a war are working just fine, so there is still a minor issue remaining there ...

[2018-05-21 13:08] ihendriks commented on #283
@Nansen17 Thanks for testing this. Just to check: with CQUI you can see the options on the trade screen, they just don't ever seem to work. Is that correct?

[2018-05-21 15:03] Nansen17 commented on #283
@ihendriks Hi Ivo, that is correct. You can see the options with CQUI and even select a war to join, only the "Accept" button doesn't work, being blocked by the exclamation mark in a red diamond next to the "joint war" item on the trade list.
This seems to be a blocking mechanism used by Civ6 on other occasions too. I have seen it in trade negotiations with other empires when they are asked to inc

[2018-05-21 15:08] nikoli280397 opened #339 "TechTree does not show"
Hi great mod. But i cant use it without the techtree. It does not open when i use the mod. I have tried replacing the TechTree file without succes

[2018-05-21 16:19] ihendriks commented on #283
@Nansen17 Yeah the AI doesn't want to trade certain things (Usually cities and non-duplicate luxuries), so it might just be that it's the AI unwilling to trade the joint-war.

Might also be that since our R&F version isn't quite ready yet, that it's broken on our end. I'll look into this when our Spring update is released and we continue working on R&F.

[2018-05-21 16:20] ihendriks commented on #339
Are you playing standard or Rise & Fall? What version of the mod are you using (if from this site, what branch did you download)?

Could you upload your logs and savefile. You can find them in `..\documents\my games\sid meier's civilization vi\`

Thanks.

[2018-05-21 16:49] nikoli280397 commented on #339
Im not playing R&F. I tried both the steam workshop version and the direct version from Github with same result
[Logs.zip](https://github.com/Azurency/CQUI_Community-Edition/files/2023383/Logs.zip)

[2018-05-21 17:36] ihendriks commented on #339
Are you sure you're loading CQUI? In the logs you've sent me it doesn't look like you're loading CQUI at all. You are loading some other mods though.

By the way, what version did you download from here? The `master` branch doesn't work with the Spring patch. You'll need to try [Patch-1.0.0.257](https://github.com/Azurency/CQUI_Community-Edition/archive/Patch-1.0.0.257.zip).

Please try it without

[2018-05-21 18:19] nikoli280397 commented on #339
It works now. I downloaded the master branch so that is why it did not work. Thanks

[2018-05-21 18:19] #339 closed

[2018-05-22 08:18] Nansen17 commented on #283
@ihendriks Hi Ivo, that is correct. You can see the options with CQUI and even select a war to join, only the "Accept" button doesn't work, being blocked by the exclamation mark in a red diamond next to the "joint war" item on the trade list.
This seems to be a blocking mechanism used by Civ6 on other occasions too. I have seen it in trade negotiations with other empires when they are asked to inc

[2018-05-24 00:04] alexeyOnGitHub commented on #331
@MarkusKV is "expansion1" branch working fine for you even with 1.0.0.257 RaF version?

[2018-05-24 02:40] MarkusKV commented on #331
@alexeyOnGitHub Yes.  It's working.

[2018-05-28 16:31] camk16 commented on #331
Tech tree doesn't open

[2018-05-28 18:26] MarkusKV commented on #331
You need the tech tree patch. Look for a zip file somewhere up in this thread. Or in the extension1 thread. 

Regards. Mark K Vallevand 

-------- Original message --------From: camk16 <notifications@github.com> Date: 5/28/18  11:31 AM  (GMT-06:00) To: Azurency/CQUI_Community-Edition <CQUI_Community-Edition@noreply.github.com> Cc: MarkusKV <mvallevand@q.com>, Mention <mention@noreply.github.com> S

[2018-05-28 18:41] alexeyOnGitHub commented on #331
thank you for the info, @MarkusKV .
I found that patch here https://github.com/Azurency/CQUI_Community-Edition/issues/329#issuecomment-388280198
downloaded techtree.zip file, unpacked, copied the lua script to

now the tech tree is working fine.

[2018-05-28 21:55] rasputinoz commented on #331
Reason being is they busy fixing the mod. This is a work around until finalised .

Thanks guys for great work

Sent from my iPhone

On 29 May 2018, at 4:51 am, camk16 <notifications@github.com<mailto:notifications@github.com>> wrote:

@MarkusKV<https://nam05.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FMarkusKV&data=02%7C01%7C%7Cc586b9fe79c14ca1220a08d5c4d03e35%7C84df9e7fe9f640

[2018-05-31 18:53] JavaShipped opened #342 "Tech Tree doesn't work - newest update [Not Rise and Fall]"
Can't open the tech tree all civs.

Great people and civic tree working fine.

Tested with no other mods enabled AND with lots of mods enabled.

[2018-06-01 13:40] llhupp commented on #342
See issue #329

[2018-06-02 09:05] fruttyx commented on #327
Same thing for me. Refilled saves do not work, CQUI is functional on a new game only.

[2018-06-03 19:58] JavaShipped commented on #330
I am also having this bug!

[2018-06-03 20:35] ihendriks commented on #330
@JavaShipped Can you do as I asked above?

[2018-06-03 21:49] FRUM10US commented on #310
I have exactly same issue as you, alexeyOnGitHub... Did you get a fix for this ??

[2018-06-04 21:59] alexeyOnGitHub commented on #310
the latest CQUI "expansion1" branch works fine, for the most part. don't forget to delete old versions of that mod from your disk and also start a new game.

[2018-06-06 17:33] ambulanced commented on #283
hey boys... just wanted to drop in and say I love you all.  I hope you all update this mod when you can, it was amazing. the production  queue, the scout and builder tile colors, the camera movement, and trade and HUD info!

This mod made the games with my friends so much faster.  Now we have to wait for one person because they have 12 cities with no queue.

Don't give up! You can do it!

[2018-06-07 09:50] totteluva commented on #329
Even after installing the techtree zipfile it does not work for me, I have a Mac though. What can I do to fix it? :)

[2018-06-07 11:03] rasputinoz commented on #329
Buy a windows machine lol.  Sorry just kidding

Sent from my iPhone

On 7 Jun 2018, at 7:21 pm, totteluva <notifications@github.com<mailto:notifications@github.com>> wrote:

Even after installing the techtree zipfile it does not work for me, I have a Mac though. What can I do to fix it? :)

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://eur0

[2018-06-11 00:57] evandy0 commented on #329
another mac user for whom the updated techtree.lua did not fix the issue.

Also have the World Tracker display issue noted above.   It's a shame, as I really like the CQUI much better than what comes with 6...

[2018-06-12 00:12] ComanDanteDevOps commented on #331
Any updates?

[2018-06-13 22:01] evandy0 commented on #314
New Civ6 player (downloaded from steam last weekend).  For some reason the mac-1.0.0.220 CQUI release wasn't working right for me... I couldn't move units, click&drag the map, or a couple of other things.   The menu dialog does say I have 1.0.0.220 (160865).

For what it's worth, I was able to make CQUI work for me by doing the following:
  1) Take the Patch-1.0.0.257 branch of CQUI
  2) replace t

[2018-06-17 11:29] flavius commented on #329
I confirm, the fix does not work on all platforms.

[2018-06-17 14:16] FRUM10US opened #344 "WorldTracker Panel"
Windows 10
ver 1.0.0.257
G+K
latest community patch
latest techtree.lua
Everything working fine but no info in worldtracker panel for either Techs or Civics

![40891402-bb928680-677c-11e8-881d-65344fbf360f](https://user-images.githubusercontent.com/39886092/41508749-5dfab838-7241-11e8-826c-232265d5cb37.png)

[2018-06-17 16:21] ihendriks commented on #344
We're aware of the issues with the mod at the moment. I've been very busy and haven't been able to do anything for the mod in the last weeks, and I know that Azurancy was busy as well. I'll be able to look into it in at the end of next week. Sorry for the lack of communication either way.

[2018-06-17 22:35] Xerus2000 opened #345 "Information about special unit from civilization screen"
When clicking on a leader in-game in the top right, I get an overview of the civilization they play. But the special units and modernisations and districts are only displayed, without any stats.
It would be nice if the information about special stuff could be inlined or linked somehow or shown on hover, so I don't have to look it up if I want to see the actual differences.

[2018-06-19 17:52] scorpnet commented on #329
Mac user here, Ive tried the Mac update, the tech tree Lua, and offline mode. Still not working as of today. help!

[2018-06-22 03:39] kecker79 commented on #283
So has this effort been abandoned?

[2018-06-22 11:52] mithlug commented on #321
This still seems to be a problem, downloaded CQUI from steam recently and I have this problem too.

[2018-06-22 12:19] Ketama303 commented on #283
@kecker79
As far as I'm aware of, no.  We're all eager to have a working version again, but he does this in his free time, so please be patient.

[2018-06-22 12:36] ihendriks commented on #283
@kecker79 It's not abandoned, but the maintainer is currently stuck with his job and there's noone else able to push changes. When he's back it should be a quick release.

[2018-06-24 01:45] rasputinoz commented on #338
ok had a play with the modlens_scout.lua and seem to have it working for all recon units.

Can some please download this to trial it.

it belongs in \My Games\Sid Meier's Civilization VI\Mods\CQUI_Community-Edition-expansion1\Integrations\ML\UI\Lenses

Hope this helps

[modlens_scout.zip](https://github.com/Azurency/CQUI_Community-Edition/files/2130381/modlens_scout.zip)

[2018-06-25 02:14] rasputinoz opened #347 "Clash with Yet (Not) Another Map Pack - Rise and Fall"
Seems that when YNAMP is active with Rise and Fall using CQUI that the Envoy system doesn't work, it only ever shows the first City state and no more and cant send Envoys.

[2018-06-26 02:12] rasputinoz opened #348 "Loading Save game doesnt load CQUI - Standard Rules"
been playing a great game , saved it , came back to continue and CQUI is no longer active.

Using the latest patch from here.

[2018-06-26 12:40] ihendriks commented on #348
Can you upload your logs and savegame for us? You can find them here: `..\Documents\My Games\Sid Meier's Civilization VI\Logs` and `..\Documents\My Games\Sid Meier's Civilization VI\Saves`. Thanks.

Which one would that be?

[2018-06-26 18:15] FRUM10US commented on #344
Thanks to you and Az for your all-round awesomeness...  :)

[2018-06-26 21:03] rasputinoz commented on #348
just going to do some tests by removing all other mods first see if I can get a similar result. will load logs and save game then

[2018-06-26 23:54] rasputinoz commented on #348
Seems to be a later game problem. Cant emulate the problem in early turns. Will start  a new game and play for longer and them save and see if same problem arises

[2018-06-27 19:39] mithlug commented on #321
Fixed this by making both files in 289070\1125169247\Assets\UI\PartialScreens gibberish filenames. So the game doesn't read those files and now envoying works as normal. Temporary workaround.

[2018-06-28 12:51] ihendriks commented on #344
Most issues we're aware of are already fixed, just need to push them to the right branches when Azurency is back from his work.

[2018-07-01 22:55] rasputinoz commented on #348
Save game and logs attached
[problem.zip](https://github.com/Azurency/CQUI_Community-Edition/files/2153305/problem.zip)

[2018-07-02 00:27] ironstorm613 opened #349 "Envoy Not Moving to City-State"
I just recently started using this version of CQUI (I took a break from Civ VI for a bit after Rise & Fall launch) and all around it's a great mod. The World Tracker issue seems to have been posted already, but another one I noticed is when I go to send an envoy to a city-state, I can click the number as much as I want and it will not move off 0. Not sure if others are having the issue.

[2018-07-02 02:51] rasputinoz commented on #349
this seems to be an issue with Rise and fall only usually. If you are using the RF version of civ 6 you need to download the Expansion1 version from GitHub instead of the master version

You will also need to find the thread on here for a fix to the Tech and civics not working and download the new techtree.lua

[2018-07-02 12:44] ironstorm613 commented on #349
Alright I'll give this a shot tonight when I get home and update after. Thank you!

[2018-07-02 14:48] fruttyx commented on #348
Hi, Resourcefull 2 poses problem with CQUI and the same result with CQUI Beta posted recently.

I explain with this mod activated, impossible to reload a save without CQUI is automatically disabled. I tried with Resourcefull 1 and everything works well cons with the 2 impossible.

I have tried by disabling all my mods and leaving only CQUI active, then activate mod by mod and it is clear that this

[2018-07-02 15:38] ihendriks commented on #349
Keep in mind that if you download and install the mod manually you'll have to get rid of the workshop version (unsubscribe completely) and make sure the files are gone. Otherwise you'll run into all sorts of funky issues. Also note that the `expansion1` branch is only partially functional and might throw some other issues your way.

The `Patch-1.0.0.257` branch is more functional, but doesn't work

[2018-07-02 15:55] ihendriks commented on #348
@rasputinoz I can see that the mod is enabled overall, but that it's not actually enabled in the savegame you uploaded (I imagine you did have it on, but it's not storing it). Enabled mods appear to be:

- Artillery +1 Range
- Even Moar Units! Australia
- Even Moar Units! The Aztecs
- Farms Plus Plus
- Gold Resource
- Good Goody Huts
- Improved Builder
- Moar Units
- More Barbarian EXP
- No Barbar

[2018-07-02 16:10] fruttyx commented on #348
I do not subscribe to the Steam version, I use the version from here with the fix tree.

I tested with this activated version and unsubscribe from the beta version, same problem

Tried by removing the files version from here and leave only the beta subscriber version, same problem.

Either version, CQUI is not active when reloading when Resourcefull mod 2 is enabled.

[2018-07-02 16:25] Xerus2000 commented on #348
I uploaded CQUI Beta, it is completely identical to the patch-branch.

[2018-07-02 16:36] ihendriks commented on #348
@fruttyx Can you upload your logs and savegame? You can find them in `..\Documents\My Games\Sid Meier's Civilization VI\Logs` and `..\Documents\My Games\Sid Meier's Civilization VI\Saves`.

You can just zip them all and upload them here.

[2018-07-02 17:01] ironstorm613 commented on #349
This is going to turn out to be a busy night to see if this works then! Worth a shot

[2018-07-02 17:02] fruttyx commented on #348
Yes I put them:

Entire logs:
[Logs.zip](https://github.com/Azurency/CQUI_Community-Edition/files/2156093/Logs.zip)

Savegame Resourcefull 2 so bug CQUI:
[CHAKA 5 3760 av. J.-C..Civ6Save.zip](https://github.com/Azurency/CQUI_Community-Edition/files/2156103/CHAKA.5.3760.av.J.-C.Civ6Save.zip)

Savegame Resourcefull 1 so works fine:
[CHAKA 4 3820 av. J.-C..Civ6Save.zip](https://github.com/Azurency/CQ

[2018-07-04 14:13] evandy0 commented on #314
Heads up to all... I just booted CIV 6 last night, and the Mac version is now up to 1.0.0.260.  It /seems/ to work okay with the 1.0.0.257 branch.  We'll see what happens after I play more thoroughly.

[2018-07-04 23:14] dcrabill commented on #329
Installed CQUI_Community-Edition-expansion1 mod and techtree.zip on Windows10 machine. Can see Civics Tree, but cannot see Tech Tree.

[2018-07-08 00:49] AlvinFark commented on #329
I made the fix for anyone who hasn't found any.
Copy this into your mod file, it will reset your tech tree and world overview to default UI
[panel.zip](https://github.com/Azurency/CQUI_Community-Edition/files/2173231/panel.zip)

[2018-07-08 09:00] JouresKoh commented on #329
OS: Windows 10
DLC: Vanilla and R&F
Game Version: 1.0.0.257(349140), Traditional Chinese Version
Mod: CQUI Beta with or without any other mod

I still can't access full Tech Tree panel, even with or without the techtree.lua patch. I can select the tech from the left quick tech selection panel, but I can't expand the full tech tree.

![tech tree](https://user-images.githubusercontent.com/29336184/4

[2018-07-08 11:06] AlvinFark commented on #329
@JouresKoh is it possible that it has something to do with the language you're using?

Anyway try copy the techtree lua and xml from your base game directory into the respective folder in the mod, that will reset the tech tree into your default UI. that's what I actually did

[2018-07-08 13:30] ihendriks commented on #329
You can just remove the files from the mod and it'll use the the base game versions.

If you are using the beta version on steam: it's not compatible with R&F. It should work with Vanilla though. If you are subbed to both the beta and normal CQUI versions on steam you might also run into conflicts, so you should try unsubbing from one or the other.

The CQUI Beta on steam is also not maintained by

[2018-07-08 14:21] JouresKoh commented on #329
Wow, Big thanks to you~ it actually work after I have unsubscribe the normal CQUI mod. Thank you very much, you save my day.

Ya, I'm aware of that, I have been constantly following the latest news of CQUI, I understand that the creator is working alone without too much of help, I will wait patiently until the mod fully support for the whole game~

[2018-07-10 22:09] ComanDanteDevOps commented on #283
I am but a lowly DevOps Engineer but if I can assist with getting this out there quicker I am fairly capable in GitHub at least.  I'm playing with the latest expansion1 build with the fix for Tech Tree and fix for the Joint War/Diplomacy issues as well.  As far as I can tell there are no major bugs I am seeing.  I can see Pull Requests for these same as well.  So looks like it would just take a re

[2018-07-11 06:18] HicPuer commented on #283
Where I can find fix for the Joint War/Diplomacy issue?
Is the "fix" this: "Removing the "IDS" folder from integrations...." https://github.com/Azurency/CQUI_Community-Edition/issues/340#issuecomment-394294535

[2018-07-11 12:47] ihendriks commented on #283
There's only a single maintainer, as long as he's not here nothing can be merged or pushed to steam.

[2018-07-11 12:50] ihendriks commented on #283
Removing the IDS folder will rever the diplomacy view to the default, meaning joint wars etc. will indeed work. It doesn't fix the issue, it just removes the functionality altogether.

We've actually been missing this one, thanks for that!

[2018-07-11 20:12] Xerus2000 commented on #329
I am here and since I actively play Civ with CQUI I don't plan on stopping to update CQUI Beta. However, I'd readily hand it over or take it down when the original is maintained properly.

[2018-07-12 01:53] ComanDanteDevOps commented on #283
There is a proper fix for the diplomacy view as well:
https://github.com/Azurency/CQUI_Community-Edition/pull/346

I may take a stab at forking and putting these various fixes together.  Not to replace this version but just to at least have something we can use and test against until we hear back from @Azurency .  Longer term, I'd be happy to help with maintaining if it's welcome.

[2018-07-13 13:43] mithlug commented on #349
You can also look at #321 to see how to disable envoy part of cqui

[2018-07-13 18:05] HicPuer opened #350 "Unoffical merge: CQUI expansion1 + City Status fix+ Tech fix + diplomacy joint war fix"
I combined following CQUI R&F fixes for my own use. You can download it here: https://www.upload.ee/files/8676602/07.13.2018_R_F_CQUI_expansion1___City_Status_fix__Tech_fix___diplomacy_joint_war_fix.7z.html
Let me know if something is missing or outdated.

Sources:
1. Tech tree and world overview to default UI: https://github.com/Azurency/CQUI_Community-Edition/issues/329#issuecomment-403253007

2

[2018-07-13 18:06] #350 closed

[2018-07-14 08:02] kriscamilleri commented on #331
Any eta on the new update?

Thanks for all the great work :)

[2018-07-14 12:41] ihendriks commented on #331
No ETA. Don't know when Azurency will be available.

[2018-07-20 05:10] kecker79 commented on #283
@ComanDanteDevOps I think both a fork and your maintenance efforts would be greatly appreciated.

[2018-07-20 16:35] ambulanced commented on #283
is it ironic that @Azurency has become Chao?

[2018-07-20 17:07] jeffpierce commented on #283
Not really.  Stuff happens, whether that’s being busy or getting bored.

[2018-07-20 18:36] comandante-cinc commented on #283
I hope @Azurency is ok.  Am appreciative of the efforts he put into this mod.  At this point though it's been a long time since we've heard from him.  I hope he's ok and doing well but in the meantime, I have created a fork and merged in all of the fixes I have seen here.  It should essentially be the same as the package @HicPuer put together.

I am willing to maintain the mod but I am not a devel

[2018-07-20 21:06] Azurency commented on #283
I'm ok, somehow much more busy that I would like... I'm sorry for being away so long, haven't played civ in ages 😭.
I'm going to take a look at everything this weekend, hopefully get everything working (the main problem was the `diplomacydealview.lua`, I'll review the pull request #346). If I don't have enough time this weekend, I'll be free for sure at the end of next week to work on that.
_As I'

[2018-07-20 21:14] sparrow8332 commented on #283
@comandante-cinc  @Azurency is very busy atm with real life stuff and myself also. I was planning to have some free time last week but have family stuff going on atm. I dont know how long @Azurency is afk for but be patient he will return, and i will also once real life gives a break to do so.  The mod hasnt been forgotten about or dropped just on pause atm.

[2018-07-20 21:19] StevenStone1701 commented on #331
for those who found that last update just (again) cqui breaking. there is a trick to return to an earlier version of civ VI. tested it myself and coun't beleave that it actually worked... apparently steam holts records of every update from every game on some server. you just have to follow the instructions of this reddit page(it talkes about fallout 4 with the same principle/problem):https://www.r

[2018-07-20 21:55] ComanDanteDevOps commented on #283
My apologies if I came off as impatient.  Just wanted to have the known fixes together so some could play and test.  It seems to be working great with those three fixes applied for RnF at least.  I don't see any major bugs.  I'd love to assist in maintaining CQUI in the future by testing, reviewing and merging as needed.  I could definitely make your work easier by handling some of the DevOps type

[2018-07-20 22:01] wayneb64 commented on #331
So version 262 breaks CQUI again? It sounded like all they did was remove Red something or other and add some multiplayer changes. Everything was working for me accept joint war which I don't really use so I am not at the latest un-merged stuff.

[2018-07-23 17:30] ambulanced commented on #283
OMG guys it's Monday! Are there new gifts under the tree?

[2018-07-27 18:37] Azurency commented on #331
Ok, the IDS is working for the base game now, the work here is done. Let's get back to the Rise and Fall issue.

[2018-07-27 18:37] #331 closed

[2018-07-27 22:52] Azurency commented on #283
Ok, so the `expansion1` branch have been upgraded, the diplomacydealview should now work and I made a quick fix for the report screen (not perfect at all, there's some overflow in the city status tab).
Everything should be 100% functional now.

[2018-07-28 16:18] Azurency commented on #283
**Update** : Everything is merged into master, the steam version will soon be updated. Thank you all for your help and your patience 👍.
I'm going to test it on Mac now.

[2018-07-28 16:51] ncl2fth commented on #283
Thanks everyone, I’m sure I can speak for all of us that don’t have the knowledge to help, your work is appreciated.

From: Antoine Lassier <notifications@github.com>
Sent: Saturday, July 28, 2018 11:18 AM
To: Azurency/CQUI_Community-Edition <CQUI_Community-Edition@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Azurency/CQUI_Community-Edition] Rise and Fall and 1.

[2018-07-28 19:15] Azurency commented on #349
see #283

[2018-07-28 19:15] #349 closed

[2018-07-28 19:19] Azurency commented on #347
see #283

[2018-07-28 19:19] #347 closed

[2018-07-28 19:20] Azurency commented on #344
see #283

[2018-07-28 19:20] #344 closed

[2018-07-28 19:22] Azurency commented on #329
see #283

[2018-07-28 19:22] #329 closed

[2018-07-28 19:22] #342 closed

[2018-07-28 19:32] Azurency commented on #330
see #283

[2018-07-28 19:32] #330 closed

[2018-07-28 20:06] Azurency commented on #327
related to #348

[2018-07-28 20:07] #338 closed

[2018-07-28 20:16] Azurency commented on #338
Also opened a PR in @astog repo https://github.com/astog/MoreLenses/pull/25

[2018-07-28 20:22] Azurency commented on #324
Can you test it with the update version of CQUI please ? I tested a few options and it worked fine. The yields option can be toggle by the "Map Options" just next to cqui settings.
The notification for the tech are messages that appear briefly on the top center of the screen and are easy to miss that's true.

[2018-07-28 20:22] Azurency commented on #323
see #283

[2018-07-28 20:22] #323 closed

[2018-07-28 20:35] Azurency commented on #321
see #283

[2018-07-28 20:35] #321 closed

[2018-07-28 20:40] Azurency commented on #320
related to #327

[2018-07-28 20:57] Azurency commented on #318
Hi thank for your report. There's indeed some kind of infinite loop with CQUI enabled. It's working fine without the mod. I don't know what's cause this issue, no error in the lua logs
We should investigate that

[2018-07-28 22:35] Azurency commented on #312
Thank you for your report, I'll try to reproduce the issue and look into it

[2018-07-28 22:36] Azurency commented on #310
see #283

[2018-07-28 22:36] #310 closed

[2018-07-28 22:37] #305 closed

[2018-07-28 22:37] #296 closed

[2018-07-28 22:38] #275 closed

[2018-07-28 22:38] #258 closed

[2018-07-28 22:40] Azurency commented on #253
Is it still happening with the latest versions ?

[2018-07-28 22:40] Azurency commented on #249
related to #348

[2018-07-29 05:22] pelff commented on #283
Thx a lot for all the work done! This mod is just awesome! Thx again.

[2018-07-30 03:10] willswimslak opened #352 "When I try to open the Science Tech Tree, nothing happens."
I am on the most recent version of both Civ IV and CQUI. When I uninstall CQUI the tech tree works again.

[2018-07-30 09:05] nikayou commented on #296
For those who still have troubles with this: check that the other mod "production queue" is disabled. When I did that, the game was working fully again (except for the tech tree)

[2018-07-30 18:44] ambulanced commented on #283
The gods have forgiven us.

[2018-07-30 22:20] Azurency commented on #283
Everything is now updated on Steam, time to close this issue at last.

[2018-07-31 00:17] #352 closed, assigned to nobody

[2018-07-31 02:38] rasputinoz commented on #348
Seems to be loadable from a Multiplayer game , but not from Single Player ones

[2018-08-02 07:40] rasputinoz commented on #348
Ok seems if you play a Rise Fall Expansion it Saves and then reloads. It seemingly is only affecting Standard Rules.

[2018-08-02 12:34] wayneb64 commented on #348
So if I am reading this correctly, taking the latest release or using what is on Steam I can only play with CQUI if I upgrade to R&F? (I am still running Vanilla with the 257 patch and matching CQUI release.)

[2018-08-03 11:40] fruttyx commented on #348
With Ressourcefull 2 ​​activated, when loading a save CQUI was automatically disabled while with Ressourcefull 1 everything worked perfectly.

So with the new update of CQUI early August, I went back to the problem and I managed to solve this problem with Ressourcefull 2.

I copied the files from resourcefull 2, unsubscribe from this mod in the workshop, I simply changed the line   <AffectsSavedGa

[2018-08-07 11:11] Eric-Tobias opened #353 "Unable to open build interface in cities"
Using a city's buttons to either change the production, purchase with religion or coin, and assign workers to tiles, highlights the buttons but does not open the corresponding menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a city you own.
2. On the bottom right hand corner, use either button to affect production or worked tiles.
4. See the buttons light up without a menu being

[2018-08-09 02:03] Deddryk opened #354 "Unable to manage tiles citizens are working"
When attempting to manage the tiles citizens are working, the UI does not populate the expected buttons to select tiles to work.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a city
3. No buttons appear to change the tiles citizens are working

**Expected behavior**
Buttons should appear that allow me to change the tiles citizens are working.

**Screenshots**
![image](https://user-i

[2018-08-09 10:07] Azurency commented on #353
Thank you for your report. Can you post a save game along with the log files please ?  Without it I can't really help. You'll find them in `..\Documents\My Games\Sid Meier's Civilization VI\`

[2018-08-09 10:12] Azurency commented on #354
Oh, so linux is still not updated with the Spring patch ? still in 1.0.0.220 ? If that's the case yes it's not compatible, you might want to try an earlier version available here https://github.com/Azurency/CQUI_Community-Edition/releases/tag/mac-1.0.0.220

[2018-08-09 10:22] Eric-Tobias commented on #353
I only had a quicksave which I have overwritten since.

Investigations since I posted this point at the building queue as a likely culprit. Would you want me to try and get another save where it is replicable?

[2018-08-09 10:27] Azurency commented on #348
Maybe we should just revert 9d33d0d1c60c926b40e03137dd4ae72d421ae87a after all, it introduced too much unwanted bugs

[2018-08-09 18:47] Deddryk commented on #354
Yeah, we linux plebs are still waiting on the spring update.  The old version works great in vanilla but a few things are buggy with Rise and Fall.  Thanks for the response.  Guess I'll just have to wait.

[2018-08-10 00:08] dan-boehm commented on #321
This is still occuring for me using the latest version on steam.

[2018-08-10 12:11] ihendriks commented on #321
@Boehemyth Could you upload a savegame and your logs from `..\Documents\My Games\Sid Meier's Civilization VI\` for us? We'll take a look at those to see what the issue is.

[2018-08-10 20:29] Oettinger77 opened #355 "Still can't send envoys"
I still can't send envoys to city states. I thought this bug was already fixed.

Regards

[2018-08-10 21:39] Azurency commented on #355
Hello, can you please respect the bug report template when posting an issue.
Especially the part :
```Save game and logs : Please attach if you can your save game and the logs. You can find them in ..\documents\my games\sid meier's civilization vi\ on windows or /Users/[user]/Library/Application Support/Sid Meier's Civilization VI/ on Mac OS.```
Otherwise we can't really help you.

[2018-08-12 17:09] GaryFisken opened #356 "City details banner does not open"
**Describe the bug**
City details banner does not open when entering the city

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new game
2. Enter a city
3. See error

**Expected behavior**
City details banner would open when entering city

**General informations**
 - OS: Win 7
 - Version 1.0.0.262
 - Expansion Rise and Fall
 - Other mods: Quick Start
![city_details](https://user-images

[2018-08-12 17:16] GaryFisken opened #357 "ESC button does not bring up Game Menu."
**Describe the bug**
ESC button does not bring up Game Menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new game.
2. Enter a city.
3. Exit city by hitting ESC button (not the X button in the top right corner!).
4. Now ESC does not bring up Game Menu any more until you restart the game.

**Expected behavior**
ESC button would bring up Game Menu.

**General informations**
 - OS: W

[2018-08-13 22:28] leejaywu opened #358 "Mac OSX, new game: City-State listing problems"
**Describe the bug**

City-State listings only lists a single city-state even though multiple are known and still in existence.  It has been like this since the beginning of the game.

The right arrow next to the envoy count of 0 highlights and can be pressed, but does nothing.  Likewise, this has been true ever since the first envoy.

**To Reproduce**

See above.   Happens in all circumstances.

[2018-08-14 12:09] ihendriks commented on #358
What version of Civ does mac get? It's possible that you didn't get the spring patch from Firaxis yet.

[2018-08-14 14:48] darkbeka commented on #348
Might be related to an issue I have had today after enabling new modded civilisation from the workshop.

CQUI works fine when starting a game, but after saving and reloading it's gone.

After disabling the new civ, and starting a new game it works again. Looks like the problem is with the modded CIV from the workshop, one of these 2 :
- Gedemo willem
- Port Lime - Ottoman Empire

JFD & Civitas mod

[2018-08-14 19:35] Sharky444 opened #359 "Mod settings menu not available in game"
I've installed the Community Quick User Interface mod for Civilization VI from here https://github.com/Azurency/CQUI_Community-Edition

In the feature list I read:

Dedicated mod settings menu

With this screenshot: Github: https://user-images.githubusercontent.com/8012430/31861832-13bb16d2-b734-11e7-9524-b7292881f7af.png

But that menu is not in the game, I've looked at about every place, both in

[2018-08-14 19:48] wayneb64 commented on #359
Click the middle icon over the mini-map frame, the one that looks like a pipe.

[2018-08-14 20:05] Sharky444 commented on #359
Thanks man! That was really hard to find. I had read the complete readme file, was googling a lot, and even looked at several XML and LUA files.

[2018-08-14 23:54] ncl2fth commented on #359
It took me a while to find that too back when I first got this mod.

Sent from my iPhone

[2018-08-15 01:17] leejaywu commented on #358
It's current, and according to Aspyr -- https://support.aspyr.com/hc/en-us/articles/216979606-Civilization-VI-STEAM-KB -- it supports cross-platform play per the update on July 19.

The Spring update went live for Mac on 7/2.

[2018-08-15 08:22] Flactine opened #360 "Error Report in Database.log"
[1016290.335] [Localization] ERROR: Database::XMLSerializer (ids_text_de.xml): Cannot parse file.
[1016290.548] [Localization] ERROR: table BaseGameText has no column named Language
[1016290.548] [Localization]: In Query - insert into BaseGameText('Tag', 'Language', 'Text') values (?, ?, ?);
[1016290.549] [Localization]: In XMLSerializer while updating table BaseGameText from file ids_text_pt.xml.

[2018-08-15 13:41] ihendriks commented on #360
Please follow the bug report format provided to you when you make an issue.

[2018-08-16 20:49] hydraulicbean opened #361 "Old Bugs not quashed (unit movement, right click, arrow keys)"
Loading a new game, units won't move. Multiple instances of CQUI listed in "additional content," reinstalling Civ6 did not solve the issue, nor did resubscribing to the CQUI mod. On a Mac.

[2018-08-20 13:16] ihendriks commented on #361
Are you subbed to multiple CQUI versions on the workshop? And have you installed the mod manually at any point? Because that will cause multiple listings (and issues with the mod itself).

If you could post your logs and your savegame for us, that'd make it a lot easier.
You can find those in `..\Documents\My Games\Sid Meier's Civilization VI\`

[2018-08-20 13:55] Rubbduck opened #362 "Technology tree doesn't open"
The technology tree doesn't open. Civics tree works just fine.

I'm on a windows 10 machine, using version 1.0.0.262 with Rise and Fall and most DLC.

[2018-08-20 13:56] Rubbduck opened #363 "City status report bugged"
City status report screen is bugged, showing only "$Housing$" and such placeholders for everything except city name, population and growth rate status.

I'm on a windows 10 machine, using version 1.0.0.262 with Rise and Fall and most DLC.

[2018-08-20 14:08] ihendriks commented on #363
Could you use the bug report format provided for you when you open an issue? This will make our work a lot easier. Thanks.

[2018-08-20 14:09] ihendriks commented on #362
This and your other issue make it sound like you're running an older version of the mod. If you follow the bug report format provided we can verify that pretty quickly.

[2018-08-20 14:58] hydraulicbean commented on #361
I think I resolved it, the initial mod was hiding in a different folder from usual that I missed but someone else pointed out. I do stop getting reminders to change cultural policies at some point though, not sure why that happens.

[2018-08-20 16:20] Rubbduck commented on #363
I thought I did so, leaving out things I thought were unneccessary. Will comply more closely with the format in the future, sorry.

[2018-08-20 16:25] Rubbduck commented on #362
**Describe the bug**
Technology tree doesn't open

**To Reproduce**
Click on tree

**Expected behavior**
Technology tree opening.

**Screenshots**

**General informations**
 - OS: Windows 10
 - Version 1.0.0.262
 - Expansion Rise and Fall
 - Other mods none

**Save game and logs**
[GENGHIS KHAN 68 1320 BC.zip](https://github.com/Azurency/CQUI_Community-Edition/files/2303141/GENGHIS.KHAN.68.1320.BC

[2018-08-20 23:30] ihendriks commented on #361
Good to hear you had your issue resolved. If you want to report your other issue it's best if you make a new issue, and follow the bug report format. That way we can actually look into it.

[2018-08-20 23:34] ihendriks commented on #362
It depends on what version you are subscribed to, and if you installed multiple versions. They tend to conflict with each other, which causes some unusual issues.

Could you load your game and upload your logs after that? They're very empty at the moment, which means we can't see much. You don't have to play, just load the save, run into the issue (so try to open the tech tree). Then save and exit

[2018-08-21 09:12] callym commented on #358
I'm also getting this issue on Windows 10, so I don't think it's a Mac problem.

[2018-08-22 02:46] NoShotz commented on #356
Same thing for me.

[2018-08-22 13:55] ihendriks commented on #356
This is a pretty strange issue.

I can reproduce it by disabling the following three official DLC's:
* DLC: Aztec Civilization Pack
* DLC: Khmer and Indonesia Civilization Pack
* DLC: Nubia Civilization Pack

If you disable these three you run into this issue. Enabling any of the above DLC's will resolve the issue...

The other DLC has no affect on  this issue and can be enabled or disabled as you

[2018-08-22 14:54] ihendriks commented on #357
This is related to your [other issue](https://github.com/Azurency/CQUI_Community-Edition/issues/356), and can be worked around in the same way.

Enable one of the following three official DLC's:
* DLC: Aztec Civilization Pack
* DLC: Khmer and Indonesia Civilization Pack
* DLC: Nubia Civilization Pack

Quoting my other response for convenience:

[2018-08-22 15:31] ihendriks commented on #358
I can reproduce this issue if I enable [Caps Lock](https://steamcommunity.com/sharedfiles/filedetails/?id=1195009771). Once that is disabled the issue goes away (even for already existing games).

When that mod is enabled the game also starts spitting out a bunch of errors related to the CityStates screen, so it looks like a conflict.

I'll look into it some more, but see if disabling Caps Lock re

[2018-08-22 15:53] NoShotz commented on #356
i think i found my specific cause, if I disable the mod dynamic diplomacy which affects those 3 DLC among other, the side panel appears normally

https://steamcommunity.com/sharedfiles/filedetails/?id=870914411&searchtext=dynamic+dip

[2018-08-22 17:56] ihendriks commented on #358
I've tested some more, the issue is related to the official DLC's, but I'm not completely sure what combinations are causing issues. What I know for sure is that if you have only one of the DLC enabled you will run into this issue, with the exception of the `DLC: Khmer and Indonesia Civilization Pack`, which does not seem to have this issue.

However, if you only disable one official DLC you will

[2018-08-22 18:03] silvanojorge commented on #362
Hi, I have it too.
When I start a game I can not go into the tech tree neither the production panel but through the city name.

I also had to take over nubian and aztecs DLCs because mod load order issues with cqui.

Thanks in advance.

I post UserInterface.log, Lua.log and DataBase.log

UserInterface.log
[code]
Lua.log
[code]

DataBase.log
[code]

[2018-08-22 18:34] GaryFisken commented on #356
It seems like you are right. I enabled Aztec and started a new game and the menus are working now. It does not work on my current save game, but that probably has to do with other mods (Production queue) that "affects saved games".

[2018-08-22 19:09] ihendriks commented on #356
It's because official DLC's also affect saved games. If you enable Aztec and load a save where it's *disabled*, it'll not load Aztec for that savegame.

[2018-08-22 20:18] leejaywu commented on #358
Hrm.  The only DLC I actually have are the free Aztec DLC, and R&F -- none of of the civ+scenario packs.

I'll have to try w/o enabling Montezuma, I suppose.

[2018-08-22 21:39] ihendriks commented on #358
What you can try is disabling caps lock after you start. That sorts the issue out as well. It doesn't affect savegames, so you can turn it on and off at any point.

Just start a game with Caps Lock enabled, save the game, disable Caps Lock, load the game. That worked for me anyway. It's still probably an issue on our end, so hopefully we'll get it resolved sooner or later.

[2018-08-23 06:02] leejaywu commented on #358
Confirmed.

Fired up Civ VI, disabled Caps Lock, hit 'Continue', checked the city state menu -- three CSs were listed and I could send envoys.  Didn't make any other changes regarding other mods (left Proverbium and Rosetta in place) or DLC.

Weird, but it works.

[2018-08-23 15:00] ihendriks commented on #358
Good to know. A strange one indeed.

[2018-08-28 18:23] lckd opened #364 "Production of troops when upgrade becomes available"
For example, say you are in the process of building a warrior when the swordsman technology becomes available.  If you open the production queue in that town, you lose all the production points you had put toward the warrior/swordsman.

[2018-08-28 18:47] ihendriks commented on #364
Could you use the format provided to you when you create an issue? That would make it a lot easier for us. Thanks.

[2018-08-28 18:52] lckd commented on #364
Will do that in future.  Thanks

On Tue, Aug 28, 2018 at 1:47 PM Ivo Hendriks <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2018-08-29 14:56] miggyboi opened #365 "Mod does not start game, returns to main menu"
With or without any other mod, when the CQUI mod is enabled, I could not start a game. Whenever I start a game, it would start loading and briefly show a "Start Game" text then swiftly come back to the main menu screen. The game works properly without the mod. I download from the new repository, and extracted the .zip file's contents inside the Civ VI game folder (under the folder DLCs, because th

[2018-08-29 19:22] ihendriks commented on #364
I still need the information requested in the format we provide, so you'll have to update the issue either way.

[2018-08-29 19:26] ihendriks commented on #365
This is not the right way to install the mod. You need to install it in `Documents\my games\Sid Meier's Civilization VI\Mods`.

If that doesn't work, could you please provide your logs and savegame? Also, do you happen to know what version of the game you are using? Like, the patch version?

[2018-08-29 20:14] lckd commented on #364
Production points can be lost when troop upgrade becomes available

To Reproduce Steps to reproduce the behavior:
For example, have a warrior part way through production when the swordsman technology is researched.  The town will show that the queue is still set to produce a warrior.  Click on the production queue.

Expected behavior:
The warrior option is now replaced with a swordsman, as it shou

[2018-08-30 10:58] #365 closed, assigned to nobody

[2018-08-30 13:15] ihendriks commented on #364
Isn't this just how it works? I don't think this is related to the mod. Unless I'm misunderstanding the issue.

[2018-08-30 14:24] lckd commented on #364
No, at least not in the latest patch.  If you are in the middle of production of a troop when new one becomes available, you can avoid losing your production points by not touching the queue and letting the game roll your production over to the new unit.  That option is not available in the mod.

(I think the base game is still a bit buggy, though, because if you go into the queue after the upgrad

[2018-08-30 22:11] martin71727 opened #366 "Buttons not working."
**Describe the bug**
Buttons on the left/down not working. When i have to choose a new tech, governor, or whatever, i click the button and nothing happens. Only works for "Next unit" or "Next turn". I can open the menu if i click in the top panel.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'load or new game'
2. Click on 'Select (tech/gov/civic/policy)'
3. See error

**Expected beh

[2018-08-31 14:12] ihendriks commented on #364
If that's the case, then it's most likely due to how the production queue works. The production Queue is actually not maintained by us, but by Astog.

I'll look into it myself when I have time, but I don't know if this will be something we will fix. In the meantime you might want to post it [here](https://github.com/kblease/ProductionQueue) as well.

[2018-08-31 15:58] martin71727 commented on #366
****SOLVED****

Update the game to 1.0.0.257.

[2018-08-31 15:58] #366 closed, assigned to nobody

[2018-08-31 17:38] martin71727 commented on #350
Hello! How can i install this fix? Thanks!

[2018-08-31 17:53] HicPuer commented on #350
Removed the outdated link. official version is now master, available here: https://github.com/Azurency/CQUI_Community-Edition
Copy mod folder to "My Games\Sid Meier's Civilization VI\Mods", same as any mod.

[2018-09-05 01:43] martin71727 commented on #356
Hello. I have this issue to. I can solve it doing the following:

1 Choose a city.
2 Select a district to build
3 Now i can see city details panel, but it's blank.
4 Choose the same city again.
5 Problem solved until you load a New game

[2018-09-12 15:17] #360 closed, assigned to nobody

[2018-09-13 12:26] ghost opened #367 "game hangs at start of round"
**Describe the bug**
In lastest vanilla Civ6 (no other mods besides CQUI steam-version) the game just happened to freeze. Music is still playing, but no user interaction is possible. If I load the savegame without CQUI, it works like a charm, but with CQUI enabled I need to kill the game via task manager as it's impossible to interact with the game by any means.

**To Reproduce**
Load the attached

[2018-09-13 23:34] chadsten commented on #321
I'm having the same issue. Just installed R&F, enabled this mod for the first time and I'm experiencing the same bug.

https://www.dropbox.com/sh/6ag363gywbjxep1/AABjhCNPXN9zvjJMLF5fUgxLa?dl=0

Game save and log there. Just let me know if you need any other info.

Edit: I can confirm the solution of renaming the contents of UI\PartialScreens solves the problem.

[2018-09-20 08:52] angryansari commented on #355
[net_message_debug.log](https://github.com/Azurency/CQUI_Community-Edition/files/2400498/net_message_debug.log)

[CleanSave.Civ6Save.txt](https://github.com/Azurency/CQUI_Community-Edition/files/2400502/CleanSave.Civ6Save.txt)
not OP, but im having same issue. ive attached mine. which log specifically did you need?

[2018-09-22 21:39] jigbim889 opened #368 "Issue with City states"
When using the CQUI addon in conjuction with the "Yet (not) Another Maps Pack" - the most subscribed pack on the steam workshop - I cannot add envoys to city states.  I can also only see one city in the list at a time which appears to be the most recently met one, and even this I cannot add any envoys to.

Start any game and discover multiple city states.  Earn an envoy and try to add it.

More th

[2018-09-23 12:24] ihendriks commented on #355
Just zip all of them.

The save you provided works perfectly fine for me. Are you using any other mods? If you do, try disabling those. Also please let me know the version of your game and CQUI mod, and what OS you are on.

[2018-09-23 12:27] ihendriks commented on #368
Can you upload a savegame for me? The log alone isn't enough for us to help.

edit: A savegame which shows the issue, not a clean one.

[2018-09-23 13:05] ihendriks commented on #321
You can get around the issue by either disabling YNAMP, or enabling the official DLC (I don't know which one, haven't been able to test it). I can't narrow it down any further for now, sorry.

[2018-09-23 20:44] hoffoo commented on #362
Same here

OS: Linux
Version 1.0.0.220 (not sure why steam isn't updating me to 262)

All official DLC except Rise and Fall expansion, no other mods

Using the version in master

[2018-09-24 08:04] ihendriks commented on #362
It might be because you are running Linux, but I don't know really (I'm pretty sure MacOS is at the same update as Windows, though).

Can you upload your logs and a savegame showing the issue? That way I can look at the issue.

@silvanojorge Can you upload a savegame as well?

I can take a look this weekend probably.

[2018-09-24 17:06] jigbim889 commented on #368
Thanks for your reply.  Please see attached.  Several city states have been met, but I can only interact with one on the Envoy screen.  I am showing as having 23 envoys to send, but cant place any.

Disabling CQUI & reloading the game allows me to place the envoys.

The map is a very large map (from the "Yet (not) ANother Maps Pack" addon) so may take a while to load.

Thanks

[SEONDEOK 151 1860 A

[2018-09-24 17:10] jigbim889 commented on #368
I don't always explain myself properly, hopefully the attached screenshot will show it better - Hong Kong clearly visible near my land, the send envoys screen showing only Kabul.  The 1 envoy I h ave there is from meeting it first and not having had one placed.  The shot also shows 23 envoys available for placement.

![envoy problem](https://user-images.githubusercontent.com/43505328/45967132-f06f

[2018-09-26 06:32] lautit commented on #355
Same thing here :(

[Lua.log](https://github.com/Azurency/CQUI_Community-Edition/files/2418352/Lua.log)

[AutoSave_0274.Civ6Save.txt](https://github.com/Azurency/CQUI_Community-Edition/files/2418357/AutoSave_0274.Civ6Save.txt)

![image](https://user-images.githubusercontent.com/14226299/46061218-5569dd80-c13c-11e8-9d5c-9b657c8c5eb1.png)

Any ideas?

[2018-09-26 06:59] lautit commented on #368
(Possible) Duplicate of #355

[2018-09-26 09:23] lautit commented on #355
I think I got it working. There is a conflict between the function `AddCityStateRow` in CQUI_Community-Edition\Assets\UI\PartialScreens and the one in \DLC\Expansion1\UI\Replacements.

A simple refactor:

**CQUI_Community-Edition\Assets\UI\PartialScreens:1005**
`function AddCityStateRowMod( kCityState:table )`

**CQUI_Community-Edition\Assets\UI\PartialScreens:835** (I added some prints it may be

[2018-09-26 20:05] lautit commented on #368
@jigbim889 for the time being, you can refer to my answer [here](https://github.com/Azurency/CQUI_Community-Edition/issues/355#issuecomment-424647211)

[2018-09-27 07:34] ihendriks commented on #355
@lautit Thanks a lot for looking into it. I haven't had time to look at it on my PC yet, I'll do so in the weekend.

In the meantime: are you running any official DLC's, and if so, which ones? I've noticed this issue occurs often when you aren't running some of the older official DLC's (Aztec or Australia, for example). The issue sometimes comes from a conflict with another mod, but only when some

[2018-09-27 09:46] lautit commented on #355
@ihendriks good insight. I'm running all(?) the official DLC's, as well as a couple of other mods (Comunity QUI, AI+, JFD's Civs, etc.)

![image](https://user-images.githubusercontent.com/14226299/46137957-13669780-c221-11e8-88b3-aa17c82c4e89.png)

There are a couple of other errors here and there. I think this is more a fix for R&F compatibility rather than all-round compatible.

[2018-09-27 17:09] jigbim889 commented on #355
When will this be rolled out into the subscription? I am not confident editing LUA.  I have already tried reinstalling the mods.

[2018-09-28 07:55] ihendriks commented on #355
@jigbim889 I really don't know. Depends on whether the fix is complete, and when @Azurency gets around to checking it and merging. I'll know more this weekend, probably.

@lautit You have all of those enabled in game as well? Can you also try without any other mods (only official DLC and CQUI).

[2018-09-28 10:59] lautit commented on #355
@jigbim889 it shouldn't be a problem editing the LUA, as it is a common text file. Nothing will be broken, do dare! 😁

@ihendriks all enabled in game too, I'll try selectively disabling each one in release order later today or during the weekend and report on the outcome.

[2018-09-29 02:48] hoffoo commented on #362
Thanks, logs are here https://gist.github.com/hoffoo/89078b3c9665ed61929f30b91ba3d41e

https://gist.github.com/hoffoo/89078b3c9665ed61929f30b91ba3d41e#file-lua-log-L769 this looks a bit suspect, tried commenting out that line but no go

[github.Civ6Save.zip](https://github.com/Azurency/CQUI_Community-Edition/files/2430220/github.Civ6Save.zip)

[2018-09-30 15:56] silvanojorge commented on #362
Here is a save where I can't open the research screen.

https://drive.google.com/file/d/1qfUOWDTL90rqcbcNp3LMMH91xvvxbe8M/view?usp=sharing

[2018-10-02 13:30] lautit commented on #355
Well, after some time I managed to finish 2 games using:

- No plugins at all except CQUI
- Only Civilizations DLCs (Aztec, Australian, etc.) but without R&F

Evidence [here](https://imgur.com/a/NPqt4CP). For R&F, it has been tested before and screen is a couple of replies up this one.

What do you say? Are we cool to pull req?

[2018-10-02 18:55] ihendriks commented on #355
Yeah you can definitely make a pull request. It'll have to wait until @Azurency is available, because I don't have any actual permission :(

I haven't had any time to look at it myself either, but I've looked at similar issues and it's pretty much the same

[2018-10-05 14:55] PaulSlowey commented on #353
Hi Antoine, I've got the same issue. No districts were showing in the city build overlay and production selection was not available (either by clicking the current production on the city name or by the bottom right hand corner selection. I disabled all community mods, then put CQUI on first and a few others I didn't think would interfere. Problems continued. Let me know if there is anything else I

[2018-10-06 06:33] PaulSlowey commented on #353
Could it be running other mods that have similar functionality as CQUI? I was running **Map Tacs** (the one with unique buildings for each civ (_can I make that a suggestion for the next release?_) & **Production Que** (which I now note is part of CQUI. I switched those both off (and a few other mods) and it seems to be working fine now. I'll try adding Map Tacs and see if that stuffs everything a

[2018-10-12 15:59] exo66 opened #370 "cqui for iphone?"

[2018-10-16 17:05] Duszolap commented on #356
I have the same issue. I have only one mod installed - Quick Start

In my case beside missing city panel I have also problems with sending Envoy to City-State - my list have only one City-State (should be few more) and I cant assign any Envoy

After disabling CQUI everything works

[2018-11-08 23:24] firrae commented on #370
Mobile devices don't allow for mods... Especially not Apple devices.

[2018-11-08 23:36] firrae commented on #362
I too am having this issue on Linux.

[2018-11-22 01:06] Joe-Lemmons opened #371 "Unresponsive Central Buttons"
I noticed that I can't click on UI buttons near the center of the screen. The button will appear highlighted, but clicking it doesn't do anything. The pause menu and main menu work fine though. It's only in game. Usually, the problem only starts midway through the ancient era.
UD: Uninstalling CQUI and reinstalling individual components (production queue, better trade screen, etc) recreates the pr

[2018-12-01 13:23] Infixo opened #372 "Missing "else" - resulting in duplicated Gov icons"
**Describe the bug**
In the Civics tree, the government icons are duplicated when using Better Tech Tree mod. It is the result of a missing "else" in the file. See later for details.

**To Reproduce**
Load any game with BTT active and open CivicsTree.

**Expected behavior**
One gov icon.

**General informations**
 - OS: Win7
 - Version: 1.0.0.262
 - Expansion: Rise and Fall
 - Other mods: Better T

[2018-12-02 21:06] majogl opened #373 "CQUI messing up trade routes dialog."
**Describe the bug**
As said in title. On sorting i can see different city states but never a complete list. I am using CIVITAS city states, so it may be related... including lua traceback from tuner

**General informations**
 - OS: Win10
 - R&F
 - YnAMP, CIVITAS city states

**Save game and logs**
https://www.reddit.com/r/civ/comments/9gwndy/cqui_is_messing_up_trade_route_options_civ_6/
https://p

[2018-12-04 23:48] majogl commented on #373
Just confirmed, CIVITAS is unrelated. This is CQUI only problem

[2018-12-08 14:10] Infixo commented on #370
I am running Civ 6 on my iPad with mods. Can’t use UI because it uses new files that we don’t have access to. But DB, Lua, icons, etc. work. The tricky part is to copy them into the device because that is where Apple is not helping. You need 3rd party soft for that.

[2018-12-14 14:51] chaoskagami commented on #370
I'm just gonna pop in and say that we can also use mods on the Nintendo Switch version of the game via CFW. You just rename the platform subfolder and dump it in the DLC folder or the Mods folder in the savedata. The situation is probably identical to iOS. Lua, SQLite, graphics, models all work.

The switch seems to also use the phone UI, so this is probably a slighly more generic request than iPh

[2018-12-15 12:39] Eric-Tobias commented on #353
I agree with @PaulSlowey that other mods seem to be the issue. I am not sure why or how, but it seems, for that game, I had some of the mods that are part of the CQUI installed separately. They didn't show up in the add-on menu but were still loaded. Had to manually remove them from some files and it all started to work again.

[2018-12-21 08:12] axb993 opened #374 "Linux/Rise and Fall - No city banners/information/management, world tracker unresponsive, hangs when meeting civ"
Fresh install, no other mods. Cities have no banners, and when clicked on only show the production menu and the basic city information panel in the bottom right, with the tile/citizen etc buttons removed.

![cqui1](https://user-images.githubusercontent.com/32054734/50329026-82fed100-0549-11e9-9fdc-05a94c76904f.png)

Additionally, clicking the "show/hide world tracker panels" button does nothing. T

[2018-12-23 03:12] ghost commented on #374
+1 also experiencing these issues. It's likely just because the authors haven't made the updates to fix it for linux with R&F yet. After all they only just released the patch that brought all the other updates to the platform.

[2018-12-23 17:37] tomas-hruby opened #375 "Whole interface is unfunctional"
**Describe the bug**
The whole interface including main menu doesnt work. The only option is to Alt+F4.
**To Reproduce**
Start the game

**Expected behavior**
Buttons working

**Screenshots**
![bez nazvu](https://user-images.githubusercontent.com/46090576/50386146-aeb4bf00-06e1-11e9-88ae-bdb617e0fba9.png)

**General informations**
 - OS: Win10
 - Version 1.0.0.262
 - Expansion Rise and Fall
 - Oth

[2018-12-24 17:19] xeruf commented on #374
Are you using my unofficial "CQUI Linux" or the original?

[2018-12-24 21:38] axb993 commented on #374
This was the original, just tried your version @Xerus2000 but no difference

[2018-12-24 22:57] xeruf commented on #374
Yeah, should be. You gotta fix it yourself apparently, afaik the lead developer stopped working on this.

[2018-12-25 00:47] mateuszkitlas commented on #374
@Xerus2000 your version seems to have the same hash as main version. Can this cause any problem?

[2018-12-25 11:24] ghost commented on #374
@Xerus2000 The lead dev stopped working on making CQUI work for linux or the project in general? Either way what was their reasoning? Is nobody else stepping in?

[2018-12-25 14:14] ihendriks commented on #374
@Cether-Skye @Xerus2000 Haven't heard of him in months. He was very busy with work at the time and I reckon that hasn't changed.

I tried to pick up some pieces but I'm very busy myself and am not well known enough with how CIV works to fix some of the issues, so I kind of left it as is as well.

That goes for the project in general, not just linux/mac.

[2018-12-27 23:42] ghost commented on #373
I have the same issue using CIVITAS AND CQUI on macOS 10.14.2.

[2018-12-28 05:24] Brian-MacMonigle commented on #257
Hi, I just wanted to bump this post.  I too would like some map pin viability toggling (or click ability if that is easier) :D

[2018-12-28 05:25] Brian-MacMonigle commented on #251
I think this is similar to #257

[2018-12-29 11:39] danielzucchi opened #376 "Mac: Great Works UI not displaying"
The Great Works UI window is not displayed – by clicking the button in the top right menu, W key, or by clicking the "View Great Works" button when a Great Work or relic is created. Sound can be heard, but Ui window does not show up. Reproduced in multiple saves on two different Macs with different specs/configs/mods.

Maybe this is a conflict with some other mods?

Steps to reproduce the behavior

[2018-12-30 14:16] danielzucchi commented on #376
**SOLVED:**
I have found this is a conflict with mod "StormingRomans: More Artifacts and Relics", since that has made changes to both `GreatWorkShowcase.lua` and `GreatWorksOverview.lua`, which then causes the pop-up window not to work.

[2018-12-30 14:16] #376 closed, assigned to nobody

[2018-12-30 16:37] Hvalfisk commented on #373
CIVITAS has a fix for this

https://forums.civfanatics.com/threads/city-states-expanded.630256/#post-15078348

[2018-12-31 01:50] Nihimon opened #377 "Is it possible to save the CQUI options after I customize them?"
Whenever I restart the game client, I have to manually reset the CQUI options back to my preferred values.

Is it possible to edit a configuration file or something and make these changes persistent?

[2018-12-31 04:05] Kratzwurst commented on #375
Yeah confirmed, i played a game. after 10 rounds the gui is completely gone

[2018-12-31 05:39] wayneb64 commented on #377
Copy the file cqui_settings to cqui_settings_local and modify that with your settings.

Search for the former, mine was here:

H:\SteamLibrary\SteamApps\workshop\content\289070\1125169247\Assets

[2018-12-31 05:45] Nihimon commented on #377
Found the file, thanks!

[2019-01-01 01:34] Masterchief1752 commented on #355
Hello. Does this fix still work? I tried swapping all AddCityStateRow to AddCityStateRowMod, but that doesn't seem to work. In fact, the City State menu is just blank. It says I have 1 Enjoy but there's nothing on the menu which leads me to believe I screwed something up. What are the steps for your above response? I'm not a stranger to editing LUA, but I guess I'm a little confused on what needs

[2019-01-06 01:14] Wulfram-Tanner opened #378 "City State Window"
In the city state window I do see just one city state and can't assign envoys.
Also, the esc button does sometimes not work (to open main menu, to close research tab, close city state window etc.).

I did not have these problems a few days ago.
Since then I added the "Smoother Difficulty 1.4" mod (not from workshop but download from CivFanatics). So probably it's an incompatibility with that?

[2019-01-07 08:25] sinqbad commented on #374
Can confirm that the original and @Xerus2000 both don't work on linux

4.20.0-arch1-1-ARCH

[2019-01-08 22:20] #378 closed, assigned to nobody

[2019-01-09 04:24] therealcrow999 commented on #14
Did this ever get resolved? If not, is there a way I can remove that part of Modular Screen, so it can work?

[2019-01-14 01:05] FlyPhish commented on #355
I'm having the same issue - was running city state wall mod and CQUI - only one city state shows up in the menu and I can't add any envoys

[2019-01-16 00:06] hartmark commented on #374
NTFS is case-insensitive so on linux you run most likely on a case-sensitive filesystem. There's some wrong casings in the code. After some googling I found this fix.

[code]

Add this to your /etc/fstab:
`
"steam-install-folder"/steamapps/workshop/content/civ6-mods.img    "steam-install-folder"/steam/steamapps/workshop/content/289070   vfat    loop,iocharset=iso8859-1,uid="your username",gid="you

[2019-01-16 09:14] mibli commented on #374
Does it work for You on linux now @hartmark ?
Castings should be easy to fix if it's just that.

[2019-01-16 09:19] hartmark commented on #374
Yeah it seems to be working. I agree it should be easy to fix, alas I haven't had time to look at it myself.

[2019-01-16 10:19] mibli commented on #374
`sudo` should not be necessary, because Youre creating a file essentially, and root has access to it anyway, so should be available at boot.

has extra `steam/`, also quotes are missleading (if You have quotes, the mount will fail with confusing message

[code]

It's a good find, thank You very much.
I can confirm this workaround working on my end too.

[2019-02-02 14:14] idl0r commented on #353
Same problem here. No other mods. See my save (multiplayer, germany) here: http://qasl.de/~idl0r/tmp/peter.Civ6Save . There are several cities where I have that bug, not all though.

[2019-02-02 16:35] idl0r commented on #353
[code]

In this case, "qi.entry.ArmyCost" returns "nil"

[2019-02-02 17:55] MRpEGGasus commented on #375
anyone found solutions yet?

[2019-02-03 01:20] sparrow8332 commented on #375
I Played for over 200 turns and not a single issue

[2019-02-04 08:28] MRpEGGasus commented on #375
turnsout it was about my 'worldinput.lua'. i left a typo in the codes while changing hotkey of my choice.. hope this helps

[2019-02-08 19:42] GaXyLa commented on #355
@Masterchief1752 @lautit
Works like a charm.
You have just to edit the function name. So it conflicts not with the DLC version

(Im using only CQUI, no other Mods. Rise & Fall is installed)

@FlyPhish
Look at the post from lautit above

[2019-02-11 21:33] PureTryOut commented on #374
Ah damn I literally just found this mod and was wondering why the game was so buggy all of a sudden. I'm not going to make some FAT32 image and mount it, just for this game. Is there not a fork somewhere that is more updated and has fixed the capitalizing issue?

[2019-02-12 17:25] xeruf commented on #374
https://github.com/Azurency/CQUI_Community-Edition/network

Someone would have to fully take over the project sooner or later, which is some work. I think I could get into that, but I play Civ too little right now and have a whole bunch of other projects. Basically, either someone is is into enough to do it or someone would have to pay for the development ^^

[2019-02-12 23:06] hartmark commented on #374
I can buy you one beer or two :)

[2019-02-14 18:12] wayneb64 opened #379 "Support for Gathering Storm???"
Is CQUI dead or just sleeping? With GS out now is there any chance this mod will be updated to support it?

I waited quite some time to by RF as I didn't want to give up CQUI. I hear some features of CQUI are in GS but I am not sure which or how many.

I need some information before I make a decision on buying GS and abandoning CQUI or waiting.

[2019-02-14 19:40] Azurency opened #380 "Gathering Storm and 1.0.0.290"
Great, the new Gathering Storm expansion is out ! That's very exciting and we're going to update CQUI to continue to work with the new expansion.

#### 👷‍♀️ About patching CQUI
Yes, we're aware of the issues. It's almost always resolved by merging the patch changes (and there're some) into the mod files, but often require us to adapt the mod changes to new features (like the all new default buildi

[2019-02-14 19:46] Azurency commented on #380
Here are the diffs for the base game : https://github.com/Azurency/Civ6-UIFiles/commit/6a4521ce6f9211ee337b12882e5706c30771465a, and for expansion2 (over expansion1) https://github.com/Azurency/Civ6-UIFiles/commit/277a1a7d756608a084a6a037a2b1289129512ef8.
It's quite a very big expansion 😉

[2019-02-14 19:47] Azurency commented on #380
**The list of files that need changes :**

### CQUI Changes :
- [x] `actionpanel.lua`, some Cloud and Era related changes - _some work_
- [x] `additions/citypanelculture.lua`, few changes regarding an EspionageView - _should be easy_
- [x] `choosers/civicschooser.lua`,
- [x] `choosers/researchchooser.lua`,
- [x] `citysupport.lua`, some function moving around from civ6common, _should be easy_
- [x]

[2019-02-14 19:49] alexeyOnGitHub commented on #379
see https://github.com/Azurency/CQUI_Community-Edition/issues/380

[2019-02-14 20:36] wayneb64 commented on #379
Awesome!

[2019-02-14 20:36] #379 closed, assigned to nobody

[2019-02-18 05:27] therealcrow999 commented on #14
Hope this gets resolved in GS CQUI update. The World Tracker bug has been there for a long time.

[2019-02-20 16:17] therealcrow999 commented on #380
Don't forget to fix the World Tracker bug:
https://github.com/Azurency/CQUI_Community-Edition/issues/14

You guys said you know what the issue is.
Thanks.

[2019-02-20 20:12] ihendriks commented on #380
I don't really see how this is relevant here.

[2019-02-22 20:53] joelekstrom commented on #380
Hi! I wanted to try my hand at helping here. There are loads of diffs that are simply indentation/alignment changes - how do you propose managing those? Should we go with the indentation from the expansion2-files? They don't match the coding style of this repo. One approach might be to run it through some autoformatter, but that would require that the current state of this repo is also run through

[2019-02-24 11:11] majogl commented on #380
Hi. Well good luck with all that. While doing this, could you please make sure if you check out this issue? It is from the old version, so not sure if it persists. It is in one of the submods, Better Trade Screen and is caused by bad interaction between it and YnAMP. Whenever on a larger YnAMP map with CQUI enabled, the trade screen would bug out. The issue contains a solution, so if it is still p

[2019-02-26 22:53] bestekov commented on #380
@accatyyc raised a good point about whitespace difference:

Was there any consensus on this? I have a dev background (and I did score display feature for CQUI a while back). I'm interested in pitching in and just wondering what the best way to start and not duplicate work is?

[2019-02-27 13:46] Azurency commented on #380
**The indentation**
Well, It was decided a while back to switch to 2 spaces indentation (I was not involved in the project yet at that time) and since then, to avoid having unreadable diffs and keep track of what CQUI is changing in the files, we'll keep this 2 spaces indentation everywhere.

**The compatibility**
Soooooo, as you can see if you look at how it works in the `.modinfo`, the mod conta

[2019-02-27 13:56] joelekstrom commented on #380
Thanks! Right, I'm not 100% sure I follow, but I started a PR and will keep merging, just want to make sure I'm on the right track first. I'll try to read your post a few more times and check out how all the files are set up tonight. But please let me know if the initial commit was what you expect! (I have no experience with Civ VI-modding, so it's all new to me. I have spent the better part of my

[2019-02-27 14:56] ihendriks commented on #380
Just run with the double space indentation of this repo. The repo comes with an `.editorconfig` file, which can help with that. You probably have some indentation errors if you autoformat it, but those aren't too hard to spot usually.

With regards to duplicate work: The list in here is maintained pretty accurately as far as I can see, and if you are afraid of duplicating work you can also just co

[2019-03-07 05:23] Thanatos8088 commented on #380
I have little help to offer the cause, but I don't see you guys getting told often enough how valuable and appreciated the work you do is to the end-user masses. I'll be sitting quietly over here waiting till you say "ready-ish", and gladly thank you again when that time comes.

[2019-03-17 19:39] Krassikn commented on #380
I am a huge Civ fan but I want play the Gathering storm until your mod is finished. The game is unplayable without the mod. Many thanks for your great efforts and looking forward on finishing the mod.

[2019-03-18 19:58] ronimb commented on #380
Playing without this mod is definitely a much more cumbersome, less refined experience.
Can't wait for you guys to finish up, keep up the good work!

[2019-03-20 17:24] Azurency commented on #380
**Update** : You can start to play with the `expansion2` branch version.
It's only missing :
- the improved Great People popup
- the Improved Deal Screen
- the Updated Report Screen.

_(zip file of the latest version : https://github.com/Azurency/CQUI_Community-Edition/archive/expansion2.zip)_

[2019-03-21 17:51] thesatch commented on #380
What a great job !!!
Thank you so much !

[2019-03-23 11:35] AdolfEgzekutor commented on #380
I found a hot-seat bug - when wonder is finished, game stuck on wonder animation/screen.

[2019-03-23 19:23] LyricL-Gitster commented on #380
Nice to see others playing hot seat! My wife and I play that way but I'm sorry to say I haven't been able to help with the project yet...

[2019-03-24 11:40] Gladosxiao opened #387 "Finish wonder in Multiplay Mode, can`t disable wonder cinematics"
**Describe the bug**
In multiplay mode without mod, the game won`t play wonder pop music and movie. We add this mod in multiplay mode, with the wonder pop music and movie option on. When wonder is finished, music and movie is forced start and I coud not  click any button, except using ESC button to system menu and back to main menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a mul

[2019-03-25 12:51] nukeajs commented on #387
Ditto. Hangs every time in multiplayer.

To get around it, either disable the wonder popups in the CQUI options under the "popups" tab. However, this must be done on a per session basis (maybe a per save basis, not sure) or ...

To make the change permanently, make a copy of "cqui_settings.sql" and rename it "cqui_settings_local.sql" . Open cqui_settings_local.sql and change line 56 ("CQUI_WonderB

[2019-03-25 18:27] BlackSmokeDMax commented on #380
Not sure if I should be putting requests in with this not being fully released and all, but figured at worst the answer is no and it could be considered for the future.

Anyway, I'd love to see you include both the current version of the leader ribbon (where you can see score, tech, and military power) and when hovering over a leader show Aristos's new version ( https://steamcommunity.com/sharedfi

[2019-03-25 18:31] LyricL-Gitster commented on #380
This is the place for discussion of progress toward releasing current features with the new update. It definitely sounds like you're requesting a new feature.

[2019-03-25 19:09] BlackSmokeDMax commented on #380
Yes, I was definitely requesting a new feature. Just wasn't sure if it were something that could/would be added if it may not be easier to do it now rather than later.

[2019-03-25 19:46] bestekov commented on #380
@BlackSmokeDMax, that would be a great feature. Recommend you open a separate issue requesting it so it can be worked/evaluated on its own. This issue is specifically for GS compatibility.

[2019-03-26 14:35] BlackSmokeDMax commented on #380
Yep, I'll copy/paste that out to a new thread now.

[2019-03-26 14:38] BlackSmokeDMax opened #388 "[Feature Request] Combine current Leader Ribbon with newer version"
I'd love to see you include both the current version of the leader ribbon (where you can see score, tech, and military power) and when hovering over a leader show Aristos's new version ( https://steamcommunity.com/sharedfiles/filedetails/?id=1360462633 ) as a tooltip. Best of both worlds!

[2019-03-27 22:59] ubereffect opened #389 "[Vanilla Bug] Cancelling Wonders (or at least Stonehenge)"
While building Stonehenge, I noticed a bug (or feature). When I have Stonehenge in slot 1 of the production queue, if I right click it or drag it over to the garbage can, it cancels it outright. Doesn't matter if Stonehenge was half build, the tile is now clean, and all the production invested into it is gone. (This only happens in slot 1)

I tested it with CQUI, then reproduced the same bug witho

[2019-03-27 23:02] ubereffect commented on #389
I should add that I have tried doing the same with districts and units.
And I'm happy to report that no districts or units were lost in testing.

[2019-03-27 23:19] ubereffect opened #390 "[Integration] Builder Lens doesn't support Hotseat Multiplayer"
How to test:
Start a hotseat multiplayer game, setting the first 3 players as human (first 2 humans in a team, 3rd one solo),  and the last player(s) occupied by computer(s). A duel sized pangaea probably works best for this.

What happens:
The Builder Lens only works as expected for player 1. As for players 2 & 3, the Builder Lens darkens all their owned tiles. Interestingly, when player 2 uses t

[2019-03-27 23:24] ubereffect opened #391 "Better check for valid items in the queue"
Not an issue with this mod, but you can queue multiple copies of unique wonders, districts, and unrepeatable projects in the same city. This bug happens in vanilla (without mods). Another mod that changes the production panel fixed this bug, I figure CQUI could do so as well.

[2019-03-27 23:40] ubereffect opened #392 "Clicking to purchase a tile works inconsistently"
When I click a city and bring up the city view, I see the purchasable tiles, but actually purchasing them can be a bit of a challenge at times. It seems to take 2 clicks on average, sometimes 3-5 clicks, sometimes 1.

 - OS: Windows 10
 - Version: 1.0.0.290
 - Expansions: All expansions and DLC, including Rise & Fall, and Gathering Storm
 - Other mods: None

I seem to recall this issue being prese

[2019-03-28 00:21] ubereffect opened #393 "[Feature Request] LAMP (Lens Augmented Map Pins)"
Any chance of combining the functionality of Map Pins & Lenses?

Example 1: New City Pin & Settler Lens
Selecting the City Pin, before deciding where to place it, could bring up the Settler Lens and show a 3 tile radius around the Map Pin as we move it around, helping us decide where to place it. Once placed, City Pins could interact with the Settler Lens still, making it easier to decide where to

[2019-03-28 00:48] ubereffect opened #394 "'Toggle yields ON by default' is backwards in the CQUI options menu"
Now that Gathering Storm has Yields toggled ON by default, it seems that CQUI has it backwards. 'Toggle yields ON by default' in the CQUI options menu actually turns them OFF when selected, and ON when unselected.

 - OS: Windows 10
 - Version: 1.0.0.290
 - Expansions: All expansions and DLC, including Rise & Fall, and Gathering Storm
 - Other mods: None

[2019-03-28 21:50] paveldesigner commented on #394
Have the same problem. OS and game versions are the same too.

[2019-03-29 22:11] trafenrest commented on #380
I cannot research the future civic multiple times. After I researched it once, I can't select it any more.
I have to end the turn by pressing shift+enter.
When I disable CQUI, I do not have this problem.
(This was a bug in the vanilla version some years ago.)

Not sure if the same thing happens for future tech...

[2019-04-03 10:27] gitgotgit opened #396 "April 2nd update has broken CQUI"
**Describe the bug**

As soon as I meet another Civ my whole HUD overlay disappears (only thing that works is ESC to quit the game.

Also the leader ribbons (top right) are not displaying science per turn or military strength (before the HUD disappears).

**To Reproduce**
Steps to reproduce the behavior:
Start a new game and then meet another CIV, so far the fault happens every time.

Already seve

[2019-04-03 11:28] kkanoee commented on #396
Can confirm I have the same issue here

[2019-04-03 14:41] Azurency opened #397 "Antarctic Late Summer update (1.0.0.314)"
Another day, another patch.

We haven't finished update UDS, the great people popup and the URS from the latest patch #380. But we're going to work on this update as quickly as possible.

[2019-04-03 14:54] Azurency commented on #397
As usual the diff are visible here https://github.com/Azurency/Civ6-UIFiles/commit/14e657fc569b99e6f1166bd175ba67edea5dc3fd for the base game, https://github.com/Azurency/Civ6-UIFiles/commit/f1ee7551b3254349550198a730e327f1e6ed7302 for expansion 1 and https://github.com/Azurency/Civ6-UIFiles/commit/daf3a4111add80d7343369de693a7dca2f768bd9 for expansion 2.

**base game changes** :
- [x] `actionpane

[2019-04-04 01:05] devbaj commented on #396
Same issue here, but happens whenever a leader dialogue is trying to show up (trades, denouncements, etc)

[2019-04-04 07:32] ihendriks commented on #396
This has been picked up in issue #397

You can track progress there as well if you're interested.

[2019-04-11 00:06] wayneb64 commented on #380
Could there be a bug with CQUI preventing canals from working properly? The UI is saying I only have one hex in my entire empire that is allowed to have a canal.

EDIT: Nevermind, seems like I don't fully understand the rules for canal building.

[2019-04-12 23:54] Matakor commented on #396
Is there a temporary fix for this?

[2019-04-17 01:06] unpoetical commented on #370
Not sure what you guys are talking about.   Use iTunes "FileSharing" to copy mod files associated with an app to your device.   Or use the free copytrans app.

Having said that, I've had poor luck running older versions of CQUI [the ios version is way behind at 1.0.0.194] or most mods.   The game looks like it is thinking on the first turn, the globe keeps spinning in the lower right corner of the

[2019-04-19 18:48] AlecBraithwaite opened #399 "Black Text for Buying with Gold/faith in City View"
**Describe the bug**
The numbers for buying buildings or units with gold or faith are black, which makes them almost impossible to read. Is there a setting for this somewhere?

**To Reproduce**
Play with Any civ

**Expected behavior**
White text instead of black

**Screenshots**
https://i.imgur.com/G4CEmT2.png

**General informations**
Windows, No other mods

**Save game and logs**
[JADWIGA 1 4000

[2019-04-21 15:32] wayneb64 commented on #397
Any chance the default build queue can be upgraded to prevent duplicate buildings and more importantly allow district buildings to be queued when you have the dependent build/district already queued? This gets really annoying when districts get pillaged to queue up the repairs.

[2019-04-23 11:08] ihendriks commented on #397
You're better off making a feature request instead, it'll get lost in this thread over time.

[2019-04-23 19:13] wayneb64 commented on #397
I don't have much hope for a feature getting implemented just hoping it will get fixed soon so I can go back online in Steam and let the April 2 update get applied.

[2019-04-24 12:42] ghengiseanie commented on #397
amen, such a fantastic mod, and so many mods being pulled into the game, Firaxis should just pay Azurency to [atch the actual game

[2019-04-24 12:53] ghengiseanie commented on #397
all other mods deleted same issue <blockquote class="imgur-embed-pub" lang="en" data-id="a/ZR1ySeF"><a href="//imgur.com/ZR1ySeF"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

[2019-04-26 21:59] camk16 commented on #380
Hey. Thanks to everyone who contributes to this mod! It seems to have stalled a bit, though- since the latest update a few weeks ago. The mod appears so close to being game-ready, so I'm curious why the push to get it there has suddenly stopped, so near its end.

[2019-04-27 15:24] ihendriks commented on #380
Time constraints, mostly. I don't have much time to work on this at the moment, and I'm guessing @Azurency is having the same issue.

[2019-04-30 08:55] op1ekun commented on #399
Same here, I've just downloaded the mod, but it's impossible to use it in its current state :(

[2019-04-30 15:34] Azurency commented on #397
Pushed the update on the `expansion2` branch. You can test the updated version here : https://github.com/Azurency/CQUI_Community-Edition/archive/expansion2.zip

If it's working fine we'll update the steam version this week 🎉

[2019-05-01 02:34] ubereffect commented on #399
Issue still present in latest version posted on GitHub just under 12 hours ago. I'm running a fresh game, with no other mods, and I've unsubscribed to Steam version of CQUI to avoid conflict.

[2019-05-01 11:17] ubereffect commented on #399
To quote eudaimonia, the author of Concise UI:

here's some examples for how to set color use new functions:

old version:
1. Controls.instance:SetColor(0xFFFFFFFF);
2. Controls.instance:SetColor("COLOR_RED");
3. Controls.instance:SetColorByName("RED");

new version:
1. Controls.instance:SetColor(UI.GetColorValueFromHexLiteral(0xFFFFFFFF));
2. Controls.instance:SetColor(UI.GetColorValue("COLOR_RED

[2019-05-01 11:23] ubereffect commented on #399
Probably a better reference would be to search the change log posted at [Azurency/Civ6-UIFiles@14e657f](https://github.com/Azurency/Civ6-UIFiles/commit/14e657fc569b99e6f1166bd175ba67edea5dc3fd) for the word color.

Seems like the most annoying bug I've encountered so far, and likely the easiest to fix.

[2019-05-02 01:07] ubereffect commented on #389
Issue still present with latest version of CQUI posted on GitHub yesterday. Tested it with a fresh game, build pyramids this time, waited until 1 turn from completion, right clicked and deleted all my production (doesn't even give overflow). To be certain, I even started producing pyramids again right after deleting them, and check again on next turn, production was reset.

[2019-05-02 01:09] ubereffect commented on #391
Issue still present with latest version of CQUI posted on GitHub yesterday. I also managed to queue multiple copies of buildings, within districts.

[2019-05-02 01:17] ubereffect commented on #387
Issue still present with latest version of CQUI posted on GitHub yesterday.

To be clear, I encountered this same issue while completing a wonder in single player. I had to hit escape, and reload from last auto-save. I then disabled the movie in the CQUI options, while keeping the audio enabled. This allowed me to continue without further issue.

[2019-05-02 01:52] majogl commented on #397
does this mean the problem with disappearing UI upon entering leader screen (meeting a new civ for instance) is now fixed?

[2019-05-02 02:26] denverpierce commented on #397
The clicking "Change Government" in the Policy Reminder popup doesn't actually open the change government panel in the pre-release of the new patch version.

[2019-05-02 02:43] denverpierce commented on #397
The "A World Wonder has been created!" overlay cannot be dismissed.  Neither the red 'X' in the right hand corner, nor the 'return' button in the top left work dismiss the overlay, and no other user action can make it go away.  This breaks the game, since you can't get passed any wonder creation.

[2019-05-02 06:15] KerberosTortoise commented on #397
Been testing the https://github.com/Azurency/CQUI_Community-Edition/archive/expansion2.zip version today, and i can confirm this bug.

BUT - you can avoid this bug by unticking the "wonder popup movie" option. Wonder gets built OK and game continues normally.

[2019-05-02 14:05] Azurency commented on #397
The wonder bug is fixed.

I don't have this issue, can you try again with the latest version ? If you still have this bug can you send me a save game ?

[2019-05-02 16:30] Azurency commented on #380
should be fixed now

[2019-05-02 16:32] KerberosTortoise commented on #397
Thanks, wonder bug indeed is now fixed, can enjoy the wonder movies again. Cannot get the government bug mentioned by @denverpierce to appear either, 'change government' button works ok every time here.

[2019-05-02 16:43] #399 closed, assigned to nobody

[2019-05-02 16:43] #396 closed, assigned to nobody

[2019-05-02 17:17] Azurency commented on #394
Fixed in https://github.com/Azurency/CQUI_Community-Edition/commit/ba6e1509123be91c2a64c6b3d3998ddc44d0c49e

[2019-05-02 17:17] #394 closed, assigned to nobody

[2019-05-02 17:27] Azurency commented on #392
Yes, it's related, also related to the rewrite in https://github.com/Azurency/CQUI_Community-Edition/commit/6ea61cf772396869cf0fe1bef019c08cacbc10a6#diff-3cebae74c7703440c01145d16ef5ea6cR102 of `plotinfo_CQUI.lua` using `LuaEvents.CQUI_StartDragMap()`

[2019-05-02 17:42] Azurency commented on #391
I had a chat with the developers about this subject 🙈, it's a choice they made because predicting valid moves with the queue is a big problem. They decided to do the least amount of processing and let the current queue item check itself with the rules, otherwise the late game would take a long time to process.

That being said it's still fell stupid to me to be able to queue 5 monuments for exempl

[2019-05-02 17:44] Azurency commented on #390
Maybe you should also open an issue in https://github.com/astog/MoreLenses as he is the creator of the More Lenses mod that add this builder lens behaviour.

[2019-05-02 17:57] Azurency commented on #377
Added the `AffectsSaveGame` back in `modinfo` so it should save with each savegame you have.

[2019-05-02 17:57] #377 closed, assigned to nobody

[2019-05-02 17:57] #375 closed, assigned to nobody

[2019-05-02 18:02] Azurency commented on #374
It's an old issue. If there's still problem with Linux and the latest update, can you open a new issue please.

[2019-05-02 18:02] #374 closed, assigned to nobody

[2019-05-03 02:16] ubereffect commented on #387
Seems to be [fixed](https://github.com/Azurency/CQUI_Community-Edition/issues/397#issuecomment-488686779). At least I no longer get this bug in single player.

[2019-05-03 04:19] denverpierce commented on #397
Retested on latest and couldn't repro either issue.  LGTM.

[2019-05-03 12:09] #387 closed, assigned to nobody

[2019-05-03 12:11] #372 closed, assigned to nobody

[2019-05-03 12:23] Azurency commented on #397
Great, I didn't run into much more issues either. So we'll update the Steam version very soon 🎉

[2019-05-03 14:32] ubereffect commented on #390
Thanks

He (astog/decoiff) acknowledged the request for hotseat support in the More Lenses Steam Workshop comment section. He mentioned being busy with grad school, but plans to add both hotseat support and better integration with map tacks.

You guys are awesome. I love your mods. They really make for a more enjoyable game.

[2019-05-03 18:33] gotMylk commented on #397
As someone who has set his homepage to this github page since _The Update_ and have been playing solely on my crappy laptop (as I could d/c from wifi before steam did it's thing).  I can confirm that the mod is pretty much back to it's best.  I have been testing things out for about 10 hours now and not run into anything.

Just wanted to say thanks to all you do because without this mod, Civ 6 isn

[2019-05-04 05:42] Sorxus commented on #397
Another report that game with CQUI is playable again, thank to you, mod-developers.
However, "ShowYieldsOnCityHover" option in file cqui_settings.sql doesn't do it's job, there isn't any yield when set to "1". You have to turn it on manually with "Y" key (and off again)...

[2019-05-05 01:52] ubereffect opened #400 "[Bug] Encampment Ranged Strikes"
**Describe the bug**
If a city has an encampment with walls and an enemy unit comes within range of both the city and the encampment, clicking the red target above the encampment doesn't allow you to target the enemy within range, without first clicking the red target above the city.

**Clarification**
If there's an enemy unit within range of the encampment, but none within range of the city, clic

[2019-05-05 15:15] Azurency commented on #400
This looks just like a visual bug, in both saves I CAN select the district range attack, but if I hover a unit or a city banner it reset the Lens and we can't see the "range attack UI" anymore although I can still click an ennemi unit and it fires.

I'll fix this bug as soon as possible.

[2019-05-05 15:25] Azurency commented on #400
Should be fixed in 10d87bc17ec4e1bb2094bad6ece330a2cdb36258

[2019-05-05 19:47] ubereffect commented on #400
Looks like that fixed it. I just reloaded my save with the updated CQUI. Works as expected now.

[2019-05-06 11:31] vacuumdiagram commented on #397
I was still getting this problem (no UI after 1st meeting another civ) with the latest extension 2, but after disabling all mods, and re-enabling one at a time, discovered it was 'Extended Diplomacy Ribbon'.  Can't remember if it was one that I installed to stand in for CQUI, or if I had it previously with no problems.
Cheers for all your hard work.

[2019-05-06 13:12] #400 closed, assigned to nobody

[2019-05-07 13:14] Azurency commented on #380
I'll close this issue, the progress of the diplomacy deal view and the great people popup (the only things missing) can be tracked here : https://github.com/Azurency/CQUI_Community-Edition/issues/397

[2019-05-07 13:14] #380 closed, assigned to sparrow8332

[2019-05-07 13:15] Azurency commented on #397
The new diplomacy deal view is available for testing on the `new-diplomacydealview` branch, or download a zip here : https://github.com/Azurency/CQUI_Community-Edition/archive/new-diplomacydealview.zip. I would very much like to have your feedback as it's an almost complete rewrite so there might be some bugs !

[2019-05-09 10:05] OmnipotentStomper commented on #397
I've been testing the version above. So far the new deal view looks like it's working fine.
I did run into a build queue issue with an incomplete wonder.
I have a save, and it is repeatable. I'm not sure where/how to upload the save.

I had a wonder mostly built, placed an encampment in the same city (queue position 2),
swapped it to position 1 to commit the tile. So far, so good.
Then I tried to

[2019-05-09 13:51] KerberosTortoise commented on #397
Maybe Sparrow could transfer the Steam Workshop ownership to Azurency ? So the mod could be updated there also.

[2019-05-09 13:55] Azurency commented on #397
I'm going to take a look at that bug, see if it's in vanilla also.

Well that's not possible to transfer ownership on Steam I think ? There's a lot of missing feature on their workshop 😞

[2019-05-10 14:48] ubereffect commented on #397
Sparrow updated the Steam version of CQUI to the latest GitHub version about 5 hours ago.  :mega: :mega:

Question: Is it safe for me to disable 'AffectsSavedGames' and maybe change a few settings directly in the cqui_settings.sql file instead? I mean, is it safe to do so in multiplayer games? Or would doing so potentially cause desyncs? I'd hate to have a game cut short by another civ6 update.

I

[2019-05-10 21:13] Zbradaradjan opened #401 "A linux update ?"
Currently playing on Ubuntu 18.04, the mod doesn't work. Will it be updated to support the  v1.0.0.367 linux version ?

[2019-05-10 21:31] Azurency commented on #397
You should be able to change the settings as you wish, and touch `AffectsSavedGames` without issues. Although CQUI may still have a few old bugs never resolved with multiplayer games.

[2019-05-10 21:44] Azurency commented on #401
Oh, so Linux is on a more advanced version number 👀. I didn't know that, the Mac OS and Windows version are both at 1.0.0.317, I know there's an update incoming in may, but... I don't think that's the one, was it updated recently ?

[2019-05-10 22:23] Zbradaradjan commented on #401
Nope that's just a mistake when writing the version from me, apologies. It is 1.0.0.317. The mod doesn't work for me, so I figured it was maybe the linux version that wasn't updated.

[2019-05-11 16:00] Azurency commented on #397
Pushed a few more fixes on the `expansion2` branch

[2019-05-12 16:01] CarpentierMartin opened #402 "No tile yields in city view"
**Describe the bug**
When in the city view, the tile yields are not showing anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Found a city
2. Click on city

**Expected behavior**
City's tile yields should be showing. (Even with the map option turned off)

R&F
No other mods

**Screenshots**
![image](https://user-images.githubusercontent.com/1552039/57584807-d31e0600-74df-11e9-8109-0759

[2019-05-12 19:36] DCTX95 opened #403 "Buying Corps / Army Using Faith Only Produces a Single Unit"
Buying a Corps or Army using Faith through Encampments seems to be resulting in an error. It would only produce a single military unit while spending the correct amount of Faith (of what a Corps / Army would cost.) This would happen to all military units.

**Expected behavior**
A Corps or Army should be produced.

**General information**
 - OS: Windows 10
 - Version: 1.0.0.317
 - Expansion: Rise a

[2019-05-13 12:36] Azurency commented on #403
Yes wrong callback in the code. Should be fixed in the latest version.

[2019-05-13 15:26] Sorxus commented on #402
I agree with you, even "ShowYieldsOnCityHover" option in file cqui_settings.sql doesn't do it's job either, there isn't any yield when set to "1". You have to turn it on manually with "Y" key (and off again)...

[2019-05-13 16:06] Azurency commented on #402
@Sorxus Fixed yesterday in 1f0239b65611d689850cb732e9e420e635fa0e17

[2019-05-13 16:08] Azurency commented on #402
Should be fixed now

[2019-05-14 11:51] gitgotgit commented on #397
I've noticed in the Expansion2 branch that the tech/civic popup audio never completes (I have "popup visual" unticked, and "popup audio" ticked)

[2019-05-14 14:54] Azurency commented on #397
Should be fixed in 2622118277ca6307308aa9d6242adae7195a1263

[2019-05-14 14:54] Azurency commented on #392
Should be fixed now in the latest version

[2019-05-14 21:09] gitgotgit commented on #397
Yes, that's fixed it

[2019-05-15 04:47] ubereffect commented on #392
Tested it with new Steam Version which includes the fix.

Clicking to purchase tiles worked about 80-90% of the time in my new test. Purchased a 100 or so tiles.  While CQUI was the only mod I used during the test, I used an old saved game file which had a lot of mods associated with it. No issue with fresh game perhaps? Haven't tried that yet.

Even if a fresh game were to give same result. It's

[2019-05-15 09:56] Azurency commented on #392
80-90% 👀. Are you sure the 20-10% times it's not working that you're not dragging the map a little ? It should buy the plot when you click on the button unless you're dragging to avoid unwanted purchase.

[2019-05-15 18:16] ubereffect commented on #392
Just finished testing it again. Bound mouse click to keyboard this time. If I take my hand of the mouse, before clicking with my keyboard, issue's gone. As for clicking with mouse, I was buying up tiles quickly in previous test. If I'm a little more careful while mouse clicking, it may happen 5% of the time?

Seems very sensitive to mouse drag, which I understand is to prevent accidental tile purc

[2019-05-19 13:39] Azurency commented on #397
The great people popup is now updated, you can test it on the `expansion2` branch. Let me know if there's any issue. If there are no issues, we'll push it on Steam as soon as possible.

[2019-05-20 19:22] LyricL-Gitster commented on #397
I really hope to contribute to some of the hot seat bugs myself this year since my wife and I only play this mode.

[2019-05-21 20:32] ubereffect commented on #397
That would be awesome. A lot of mods have issues with Hot Seat Multiplayer. I wish there was a resource available to modders, to help them resolve such issues. As for CQUI, I know the More Lenses contributor has Hot Seat Multiplayer support on his to do list. He's been busy with school though.

[2019-05-25 08:16] azorej commented on #401
Did mod ever work on linux correctly? I noticed you've lower cased files in the past to fix it on linux.
But there is a some strange behaviour. All standard game resources are lower cased but it doesn't seem to work for mod.
worldtracker_expansion1.lua <- opening/reading error
WorldTracker_Expansion1.lua <- works
minimappanel.lua <- works
MinimapPanel.lua <- opening/reading error
And worse, xml-re

[2019-05-25 09:32] azorej commented on #401
Ok. Toggle great works window was bind to "w" by default. And i used WASD to control the screen. So there is no bug.

[2019-05-26 23:03] Zbradaradjan commented on #401
Can you share your script please ? I'd like to see if it's the same issue on my end

[2019-05-27 11:16] azorej commented on #401
https://github.com/azorej/CQUI_Community-Edition/tree/linux_fix

I made a script for convenience:
`curl https://raw.githubusercontent.com/azorej/CQUI_Community-Edition/linux_fix/checkout_mod.sh | bash -s`
You can pass custom path for mod files to it
`curl https://raw.githubusercontent.com/azorej/CQUI_Community-Edition/linux_fix/checkout_mod.sh | bash -s ~/games/other_mods`

You will need **python3

[2019-05-31 06:03] nikku commented on #401
Could you summarize, in a nut shell, what the actual fix is about? Maybe there is certain changes that can be applied and merged in this project to make it run univerally on Windows _and_ Linux.

[2019-05-31 06:05] nikku commented on #401
The actual diff between your fix and the `expansion2` may also be helpful: https://github.com/Azurency/CQUI_Community-Edition/compare/expansion2...azorej:linux_fix.

[2019-05-31 08:48] nikku commented on #401
Just tested the modification on my machine. Works absolutely fine.

[2019-05-31 10:32] azorej commented on #401
Current diff isn't very accurate: there are some needless changes. I'll fix it this weekend.
What actually i did: i made a script that makes several symlinks for every mod resource.

I don't think there is a way to make the **same steam** mod run on Windows and Linux.
As far as i know, there is no way to run custom install script for mod installation on steam for Linux.
And imho, it's not a good i

[2019-05-31 15:47] Azurency commented on #401
The "fix" for linux is to **lowercase all the filenames** I think (see https://github.com/CQUI-Org/cqui/issues/301)

[2019-05-31 19:05] azorej commented on #401
I tried to do it and it didn't work for me:
[modified file tree](https://github.com/Azurency/CQUI_Community-Edition/files/3242543/mod.txt)
[Lua.log](https://github.com/Azurency/CQUI_Community-Edition/files/3242541/lua.log.txt)

There are a lot of errors like "Error opening/reading where=, file=C:\\Emu\\AppDataParent\\Sid Meier's Civilization VI\\Mods\\CQUI_Community-Edition\\Assets\\UI\\{filename}

[2019-06-06 19:51] BlackSmokeDMax commented on #388
Issue is kind of moot at this point as the vanilla game is now getting a version of the extended diplomacy ribbon.

[2019-06-06 19:51] #388 closed, assigned to nobody

[2019-06-14 11:13] bbrala commented on #397
@Azurency I've played a multiplayer game with a friend with cqui enables (git checkout 11th of June), and had no issues really.

👍

[2019-06-14 12:28] LyricL-Gitster commented on #397
so far in multiplayer I've noticed a couple things, but not sure which of them are new with the patch...

* builder lens only works for first player
* end of era warnings only show for first player
* players cannot build *limited* units at the same time:
** e.g. if player 1 has 1 trade capacity but player 2 is already building a trader, they cannot build one themselves until player 2 is finished.

[2019-06-18 16:34] CarpentierMartin commented on #402
Sorry to reply so late but yes, it's been fixed since the last update on steam

[2019-06-19 09:53] root-hal9000 opened #404 "June 2019 update breaks CQUI"
**Describe the bug**
After getting the June update, I opened a save game I had started with CQUI. The mini map is broken and shows the whole world as uncharted territory. Cannot use the buttons on minimap (no menu pops up when clicking). Attempted to disable CQUI, reopen save game, and minimap itself still broken. Re-enabled CQUI, reopened save game, still broken.
I am still able to open the CQUI

[2019-06-19 11:13] sgrinev commented on #404
same malfunctioning minimap behavior if you started a new game

[2019-06-19 13:53] LyricL-Gitster commented on #404
I wish Firaxis would allow us to use the latest version *before* the patch when using the Steam "Legacy" option... right now if reverts like 3/4 versions if you don't want the patch... Guess I'm starting a new game.

[2019-06-20 15:27] gonzalezea commented on #404
City names mixup when negotiating peace. New game, CQUI only mod activated.

W10 x64
v 1.0.0.328(426563)

[https://i.imgur.com/cZQe5ru.jpg](https://i.imgur.com/cZQe5ru.jpg)

[2019-06-22 20:29] kecker79 commented on #404
Odd, because my mini-map still works just fine.
W10 x64
1.0.0.328(426563)

I only have the expansion Rise&Fall though?

[2019-06-23 07:30] scrubdaddytm commented on #404
Minimap issues are an issue with More Lenses. Removing the Integration resolves the issue.

For more context sdgabai on steam has a [good traceback](https://steamcommunity.com/workshop/filedetails/discussion/871712879/1644292361958240952/)

I renamed `LateInitialize` and the map showed up just fine, but it seems there are still some other issues.

[2019-06-23 12:45] wayneb64 commented on #404
So the patch didn't really cause any major issue with CQUI? Totally playable if it's the only MOD?

[2019-06-23 13:09] fcruz-ehr commented on #404
Hi @scrubdaddytm - forgive my ignorance on the technical workings of civ 6 mods, but if it is not a bother, could you give some steps on how to do that. I am understanding you mean not to remove CQUI, but instead disable its integration with More Lenses?

[2019-06-26 06:28] root-hal9000 commented on #404
@scrubdaddytm just saw your pull request - thanks for stepping up on a fix!

[2019-06-28 07:27] javiersalcedo commented on #404
I fixed this issue by deleting the ML folder in \Mods\CQUI\integrations, and installing "More Lenses 4.2" (link provided by scrubdaddytm a few comments above) directly into the \Mods folder
Now my saved games seems to be working like pre-june2019 patch
Hope this helps!

[2019-06-29 08:03] rasputinoz commented on #404
just trying to find that folder lol

[2019-06-29 10:32] javiersalcedo commented on #404
After my excitement was done I noticed that this fix makes the CQUI settings button to disappear. Worth mentioning!

[2019-06-29 16:52] scrubdaddytm commented on #404
Until #405 is integrated, feel free to download the files from Integrations/ML in this branch on my fork: https://github.com/scrubdaddytm/CQUI_Community-Edition/tree/update-more-lenses It will fix the minimap and also provide the CQUI settings button :)

[2019-07-05 19:44] root-hal9000 commented on #404
thanks @scrubdaddytm ! Sadly, I tried with no success, but then again that Mods folder is empty for me - I have steam and wound up finding the appropriate folder hidden under a folder with a numeric name in the mods part of the program files/steam folder.
I will try to just place it directly on the My Documents/Civ/Mods even though it is currently empty and see what happens when I get a chance

[2019-07-06 05:19] Sorxus commented on #404
@ffcruz85
Try to log off from steam and follow @scrubdaddytm's instructions (dowload appropriate files here and ...)

[2019-07-06 06:11] root-hal9000 commented on #404
Sadly still no go - prob doing something stupid. Here are my steps:
1) Disabled Mod in civ menu
2) Logged out of steam
3) copied files from Integrations/ML from @scrubdaddytm branch of CQUI
4) pasted them into this folder, which is the only one where I found the equivalent files:
C:\Program Files (x86)\Steam\steamapps\workshop\content\289070\1125169247\Integrations\ML
The "My Documents/Civ/Mods" f

[2019-07-20 12:10] wayneb64 commented on #404
Is there any updated status on this? Any word from Azurency? Have not heard from him in a while.

Has anyone been successful using the branch mentioned above? I only see one reply saying it didn't work at all and another saying they had some weird issue with missing filters.

Can we get a merge and a Steam update if the branch is indeed correct?

[2019-07-21 05:47] Sorxus commented on #404
You can use scrubdaddytm's solution and it works well enough to forget on original UI.
And that small flaw with (sometimes) missing some lenses isn't big issue at all... ;)

[2019-07-26 00:03] hammypants commented on #404
@ffcruz85 I had the same problem you did. Try unsubscribing from the mod on Steam, ensuring the mod is deleted in the appropriate Steam mod storage folder, and then copying @scrubdaddytm 's forked version into your mod folder.

Nevertheless, the `Lua.log` log file will tell you what is going on. If there are still problems, that's where your answer for "why" will likely be.

[2019-07-29 13:11] Aethyrion commented on #404
Using only copied files from Integrations/ML from @scrubdaddytm branch of CQUI didn't work for me either, but using the whole branch solved the issue.

I think I have found a bug within this branch, how can I report it? Not sure if it is present in the original CQUI.

When I have Secret or Top Secret level visibility on a foreign civilization I should be able to click on one of that civilization's

[2019-09-01 20:49] farkerhaiku commented on #404
Any word on when the mini map is going to be fixed? I have never used a mod until CQUI, but with Gathering Storm and all expansions available from Steam the mini map does not work at all. There are dozens of comments on the steam community page asking if it's going to be fixed. It's now 3 months after the June update. If this is not going to be fixed because it's technically playable, just say so.

[2019-09-01 20:54] wayneb64 commented on #404
Using scrubdaddy's version the minimap is working fine but there is a bit of a lense issue. Sometimes the resource lense isn't there and sometimes the builder lense stops working.

[2019-09-01 21:05] farkerhaiku commented on #404
Is there anything I can do to help, I've never done any sort of Civ modding, but I am passingly familiar with lua.  If there is a getting started guide for debugging, I can poke around at it.

[2019-09-11 02:24] kecker79 opened #406 "September 10 2019 Update breaks CQUI"
**Describe the bug**
Steam pushed the 1.0.0.341 (443561) update and it appears to have broken at least the use of spies.  Can't select a mission or move cities.  The border of the button turns yellow when I select them but the menu never pops up.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a spy
2. Click on either "Choose Mission" or "Travel to New City"
3. Menu is not displayed f

[2019-09-12 16:05] PacketFiend commented on #406
Can confirm.

Here's what I've noticed:

- Tile yield icons, upon loading, are either on or off, and cannot be toggled.
- Espionage overview screen will not load
- Trade route overview screen will not load
- City names are swapped randomly in trade negotiations
- Upon selecting a trade unit, destinations cannot be sorted by any criteria
- Norwegians have changed in colour from blue to red.

Revert

[2019-09-12 16:22] wayneb64 commented on #406
Is 328 the June patch revision? How do you revert the September patch in Steam? Didn't think that was possible.

[2019-09-12 17:14] PacketFiend commented on #406
Yes, the June update. I followed this guide:

https://steamcommunity.com/sharedfiles/filedetails/?id=1086279994

I think it may have broken the resource display at the top as well, all I see there now is (thermo)nuclear device count, available envoys (which is wrongly displaying zero), and trade unit count (also wrongly displaying zero). The civilopedia and game menu will not open from the icons,

[2019-09-12 17:39] BlackSmokeDMax commented on #406
@wayneb64 You can get back to the June patch via the betas fairly easily...

https://steamcommunity.com/app/289070/discussions/0/1629663273598430918/

This was something the devs added back during the launch of the June patch, and it appears they have kept up wtih it as it is confirmed working for going from the September patch back to the June patch.

[2019-09-12 21:54] PacketFiend commented on #406
I've since dropped CQUI as a mod and installed individual mods to make up most of the functionality. The trade route mod is still broken with the September update, I assume because of the "Beter Trade Route Screen". I assume espionage will be as well but I don't have a game to load where I've reached that tech yet.

[2019-09-15 18:07] alexpolozov commented on #406
@PacketFiend Is there a good list of mods somewhere that make up CQUI's functionality?
The integrated mods like ML and BTS are easy to install, but there's still WASD navigation, resources in the top row, compact great people screen, and many other goodies.

[2019-09-18 16:21] BlackSmokeDMax commented on #406
@alexpolozov I don't think there is a list that will entirely get you up to what CQUI does. I had such a list that got close just after Gathering Storm, I should probably update that collection.

[2019-09-18 18:39] wayneb64 commented on #406
I have not played without CQUI for so long I have forgotten all the things I didn't like about vanilla. Does the base game still have the multiple tabs in the production queue? It really annoyed me to have to click so many things when opening the city view if I want to manage citizens, buy a tile, or build something. Is there a mod that fixes that like CQUI?

I also like all the information on the

[2019-09-18 19:53] kecker79 commented on #406
Base game doesn't have a production queue

[2019-09-18 19:54] kecker79 commented on #406
So did I miss something and this mod is no longer being maintained??

[2019-09-18 20:22] BlackSmokeDMax commented on #406
Vanilla game (base, R&F, and GS) have all had production queues for a while now.

[2019-09-18 20:25] kecker79 commented on #406
Okay?? I guess the only times I've not used the CQUI mod I enabled another mod that gave a production queue....apparently that was unnecessary?  When did that get added?

[2019-09-18 23:28] BlackSmokeDMax commented on #406
I think it was the patch at the same time GS was released. At that time the free patch for all versions had the queue / multi-queue added.

When first released, you had to click the queue button every time you went into the city (perhaps not if there was already multiple items queued, don't quite remember).

Since then, in another patch, they have added another option to the interface section of t

[2019-09-19 00:04] wayneb64 commented on #406
I misspoke when I said vanilla. I should have said 'unmodded' or something like that. What I can't stand in the unmodded UI are the selectors on the city panel at the bottom right and top left:

![Civ6City](https://user-images.githubusercontent.com/35745304/65196768-30a20080-da46-11e9-9d76-efd39b7c059d.jpg)

CQUI shows you citizens without another click or lets you purchase tiles immediately, not

[2019-09-27 09:10] carlos-witek commented on #406
I've made changes to the mod's code and made it work for myself again. Here are the changes https://github.com/Azurency/CQUI_Community-Edition/pull/407 . Feel free to check if it works for yourself.

[2019-09-29 12:39] majogl opened #408 "Update steam with the most recent version"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
What the title says... The version there is from MAY!

**Describe alternatives you've considered**
I've had to stop using this damn mod and I really hate that

[2019-09-29 13:32] wayneb64 commented on #408
I to wish Azurency would come back and merge these external updates into the official branch so Steam could be updated but I am happy as a clam now as this unofficial patch is working for me. Just follow the simple instructions here:

[https://github.com/Azurency/CQUI_Community-Edition/pull/407](https://github.com/Azurency/CQUI_Community-Edition/pull/407)

[2019-10-04 19:26] sambm775 commented on #406
@wayneb64 There's a pretty mod collection on Steam from Leonard who gives a lot of UI improvements, here it is : https://steamcommunity.com/sharedfiles/filedetails/?id=1819927193

[2019-10-16 14:37] an-accident opened #409 "Can't choose future civic on civic tree"
When 'always open tech/civic tree' option is enabled in CQUI, future civic (probably also tech) can't be choosen for another research.
![Zrzut ekranu (296)](https://user-images.githubusercontent.com/48416874/66929177-dc814080-f032-11e9-958e-01f6f3c669da.png)
Possible fix would be auto disabling this option when end of tech/civic tree is reached or always un-marking last civic/tech after completion

[2019-10-16 14:43] an-accident opened #410 "Cities in deal screen not showing correctly"
In deal screen cities are usually incorectly named. Adding them to the trade shows the real names but it's not always possible: sometimes clicking just does nothing, even if the city hiding under the button should be tradeable (e.g. not capital).
Here an example:
![Zrzut ekranu (292)](https://user-images.githubusercontent.com/48416874/66929612-a2646e80-f033-11e9-9f28-11e37000047b.png)
Here cities

[2019-11-27 02:32] ncl2fth commented on #406
I don't suppose there is a fork or remotely similar mod to CQUI? It's sad seeing it apparently die off.. I use other mods - the one piece i really miss are the housing and district info in the city header/nameplates.

[2019-12-02 09:46] ihendriks commented on #406
You can fork it yourself (or someone else who has the time and ability to maintain the mod), and just upload it to the workshop yourself as well.

That's how this version of the mod came to be as well, as @Azurency isn't the original creator.

The mod is licensed under MIT so anyone is free to pick it up and re-distribute (and modify) as they see fit. I think Azureny would be happy if the mod woul

[2019-12-02 11:17] Azurency commented on #406
I'm really hopping to have some free time during Christmas to sort some things out, merge was has been done by the community and help with the remaining issues. It was really busy this couple of months and I did not even had the time to play civ :(

[2019-12-18 14:37] RajendranPalanisamy commented on #410
Yes, I am also facing the same issue. The opponent column reflect all of my cities' name/details instead of the opponent's cities name/details.

[2020-02-06 02:09] BitWizrd-Dev opened #412 "Spies and Trade Route menus not functioning any longer."
The spy menu currently doesn't function at all, but the trade route menu works for me the very first time it's used, but never opens again after that.

[2020-02-08 20:31] DTaHFlux opened #413 "UI for manipulating units, cities, etc isn't appearing."
**Describe the bug**
The user interface for choosing where units go, what yields to prioritize, etc isn't showing up.

**To Reproduce**
Steps to reproduce the behavior:
Simply hitting "play now" reproduces it.

**Screenshots**
![Screenshot (12)](https://user-images.githubusercontent.com/30662732/74091625-05fd2680-4a7f-11ea-8a5d-2750ac25a71b.png)

**General informations**
 - OS: Windows 10
 - Versi

[2020-03-12 13:40] gullevek opened #414 "Mini Map not showing and none of the buttons above mini map working"
**Describe the bug**
Mini map not visible and mini map buttons not working

**To Reproduce**
Steps to reproduce the behavior:
1. Only CQUI mod installed
2. start new game
3. explore and see no progress in mini map or any buttons working

**Expected behavior**
A working mini map

**General informations**
 - OS: macOS 10.14.6
 - Version: v1.2.3
 - Expansion All (Rise & Fall, Gathering Store, call ci

[2020-04-03 18:32] the-m4a commented on #410
this should be fixed with the merge to the expansion2 branch that happened today (PR #415 included this fix)

[2020-04-03 18:33] the-m4a commented on #413
Potentially a conflict with one of those other mods; see if this still happens with the changes pushed into the expansion2 branch today ( PR #415 )

[2020-04-03 18:35] the-m4a commented on #414
I fixed a different issue in the mini-map with the PR #415 that was merged into the expansion2 branch today.  Does it happen with that set of changes?

[2020-04-03 18:39] the-m4a commented on #406
Current version in the expansion2 branch should cover most of the issues observed - see PR #415

[2020-04-17 04:08] tylerforsythe commented on #183
Reliably duplicated!

I realize this is old, but in case anyone else finds this, I just experienced this a whole 2.5 years later. This is my first game ever using this mod. The only other mod I have is [Aircraft Carriers Double Capacity](https://steamcommunity.com/sharedfiles/filedetails/?id=1201390784). I am subscribed to this mod via Steam Workshop -- I did not attempt to install it any other wa

[2020-04-23 22:53] cyrilh commented on #390
Hi,
MoreLenses has fixed this bug, could you upgrade as well?

Note: I tried subscribing to MoreLenses in parallel to CQUI but it seems it has completly broken at least the builder automatic lense... I could not even find bulder in the list of lenses on the UI.

Enjoy,
Cyril

[2020-04-24 10:58] cyrilh commented on #390
Hi,

I manually applied the commit below to the file below (manually with text editor, did not try git-apply), and it solved my problem!
[MoreLenses commit](https://github.com/astog/MoreLenses/commit/926e86bf5410b0cdd474adf107bd6a2982d28658)
`ML\Lenses\ModLens_Builder_Config_Default.lua`

Following the discussion on #405, I propose as a first and trivial thing to only apply that commit above... wh

[2020-04-26 01:51] alexeyOnGitHub commented on #406
hey guys, could someone please please finish all the merges? we need CQUI during this quarantine...
![image](https://user-images.githubusercontent.com/239741/80295204-c234c780-8725-11ea-86f8-441868971fc9.png)
 much love ❤️

[2020-04-28 16:13] Swarsel opened #416 "Builder Lens appears twice in MoreLenses submenu - including solution"
Environment: No other mods, only newest release of CQUI from one month ago. Cache etc. cleared

In the submenu of MoreLenses (with many radio buttons that toggle the lenses), two times "Builder" can be seen. One is working properly, the other one takes the state of the last lens used, e.g. if "Naturalist" lens was used last before clicking said bugged lens, it will behave like "Naturalist" lens as

[2020-04-29 00:20] Swarsel commented on #416
I have found a makeshift solution for the problem above; in function InitLens(lensName, modLens) of minimappanel.lua, I added the line of
`if lensName ~= "CQUI_CITIZEN_MANAGEMENT" then`

The complete function thus became:
[code]
Not the most elegant solution, but I could think of no other way without breaking the given functionality. From my testing, this seems to keep everything working as it sho

[2020-04-29 13:09] Swarsel opened #417 "Amenities calculation not shown correctly"
When having built certain wonders (like Temple of Artemis) the amenities calculation will be off, both in the Panel as well as in the City Menu:

![image](https://user-images.githubusercontent.com/32304731/80599483-4a1f1800-8a2b-11ea-9111-110cd6f3895d.png)

Both the tooltips as well as the panel on the left fail to recognize the bonus amenities given by the temple. However, the end result in the C

[2020-05-01 06:07] Shrimpfrost opened #418 "Cannot Purchase the Naturalist Faith Unit"
**Describe the bug**
After researching conservation and meeting the requirements to create a national park, the unit still doesn't appear to be able to be purchased in the production menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Unlock the Conservation Civic (Modern Era, I believe)
2. Click on the city production menu
3. Scroll down to the units
4. No naturalist available to purchase

[2020-05-02 09:15] ClassyCircuit opened #419 "Popup notifications don't work properly"
**Describe the bug**
There is a huge delay (about 5 to 10 seconds) when hovering over icons to get a detailed popup message. The worst thing is that the popup doesn't go away after mouse is no longer hovering above it, again it takes about 5 seconds for it to disappear.
Game is unplayable in this state.
I installed CQUI latest version from the expansion2 branch.

**To Reproduce**
Steps to reproduc

[2020-05-02 14:21] Sorxus commented on #418
@Shrimpfrost
Tried to load your save-game but didn't succeed because you have bunch of other mods installed.
I run only CQUI and can purchase Naturalist so I think you have some conflict with other mods.

[2020-05-02 17:14] Shrimpfrost commented on #418
Update:

I installed Sukritact's Simple UI Adjustments and I can now access the menu to buy the unit.
I'll do some troubleshooting with my mods and figure out what was going on.

[2020-05-05 13:10] alexeyOnGitHub commented on #406
I submitted a PR to merge "expansion2" into "master": https://github.com/Azurency/CQUI_Community-Edition/pull/420

[2020-05-19 12:51] weedenbc commented on #418
I just installed CQUI and have the same problem. Every other faith unit appears in the build list sand can be purchased but not the naturalist. Enabled Sukritact's Simple UI also fixed the problem.

[2020-05-19 14:08] wayneb64 commented on #418
I have no problem building the naturalist but I can never actually build a national park because the lens has been broken forever. It highlights an area north and west of the actual wonder so you cannot create the park.

[2020-05-21 05:34] the-m4a opened #421 "Frontier Pass Breaks CQUI..."
**EDIT:** **We have a functional version once again, and are moving work to the civfanatics github.
 https://github.com/civfanatics/CQUI_Community-Edition**

Posting here largely because this is where folks have historically looked...
Seems the new update broke CQUI.  I will be investigating and checking changes into my branch, I'll send over a PR once I get done.  (edit: this will be a slow proce

[2020-05-22 02:03] danieldonaldson commented on #421
@the-m4a Hey bud, I think I managed to find a way to get it onto steam workshop, if you want to give it a try?

[2020-05-22 17:08] cyrilh commented on #421
Notice that the spy screen has been broken even before Mai 21st Civ6 update.
Other things broken:
- trade completely broken and unusable (only possibility is to accept or decline an offer blindfolded) => This is a SEVERE problem
- diplomatic ribbon broken (if this is what it's called, top right of the screen, only show half of my civ)
Another minor bug is using the latest More Lenses fixing player

[2020-05-22 17:17] skelzer commented on #421
Any chance you can share your branch as a git patch or something, @the-m4a ? Seeing as how it might be difficult to get a pull request through right now...

[2020-05-22 19:21] alexeyOnGitHub commented on #406
I forked the repo, merged "expansion2" branch into "master": **https://github.com/civfanatics/CQUI_Community-Edition**

everyone is welcome to submit fixes for the new Frontier version against the latest "master" in that fork. I am not familiar with Civ6 code, so I won't be the best reviewer, but hopefully we can find someone willing to participate in that.

[2020-05-23 04:39] the-m4a commented on #421
My master branch in my repo is the equivalent to the expansion2 branch here (Azurency's repo).
https://github.com/the-m4a/CQUI_Community-Edition

So while this mod is currently broken, if the code is fixed we can publish the mod to the workshop using that as the source?

I still lack the time I would like to otherwise have to work on this, but I'm trying... there were a number of changes made to t

[2020-05-23 04:40] the-m4a commented on #421
There's a CQUI Light?  Yeah, lots of things broken...

[2020-05-23 10:03] gbossu commented on #421
In the meantime, for anyone wanting to play, you can always change the `AffectsSavedGames` attribute to `0` in the `CQUI.modinfo`, then load your savegame, save it and load it again. This is probably not 100% safe (I guess there's a reason it was marked as affecting saved games), but in my case it seems to work totally fine. You will just realize how bad the base UI is, and want to thank people li

[2020-05-23 13:09] wayneb64 commented on #421
I went offline in Steam the moment I heard about the new DLCs coming as I knew they would break CQUI for me. Hearing about the six releases every other month was bad news as I knew CQUI would be broken at least six times if not more (they might need to drop hot fixes). I would like to support Firaxis as I like their content but they seem to have given zero effort to support the modders and they al

[2020-05-23 23:49] hartmark commented on #421
This code is out of my skill so I hope someone will pickup this and continue maintain it to keep in sync with the new patches

[2020-05-24 05:05] alimulhuda commented on #421
I've started to look into fixing bits and pieces. So far I think I've gotten the diplomacy banner and city banner working. I'm new to Lua and Civ 6 modding so it's possible I've missed things. The version I'm working on is here https://github.com/alimulhuda/CQUI_Community-Edition/tree/expansion2.

For the diplomacy ribbon I've tried to do the inheritance/override approach, but for that I had to ge

[2020-05-24 05:13] the-m4a commented on #421
awesome, @alimulhuda - I'll take a peek at what you have going on.  I've been trying to wrap my head around a few things with this mod, and just the Civ6 modding in general.  I've spent a loony amount of time today just trying to work out how to reduce as much replacing of files as possible.  It bothers me that Civ6Common.lua is one of the replaced files and while there weren't a lot of changes wi

[2020-05-24 10:43] doomsday-machine commented on #421
Registered just to write this comment haha.
@alimulhuda I'm not sure if I understand your approach, but in case this helps, I'd start by fixing the city UI:
- unit flags (worker charges, promotions)
- city banners
- mouse shortcuts (click banner to enter city), purchase buttons etc.
And disable all the rest, but make the above changes so it's at least playable.

Mega thank you!

[2020-05-24 11:34] alimulhuda commented on #421
@wayneb64 If you still have the pre-patch versions of the UI files it would help me a lot if you could get them to me somehow. Having them would help me reduce the guess work in figuring out the changes I would need to make. If I can do a diff between the mod files and the original files then I can know for sure which changes are the mod. Right now it's a mix of guesswork and relying on the variab

[2020-05-24 12:01] alimulhuda commented on #421
@doomsday-machine I'm currently only focusing on making it work for the Gathering Storm version. The city banner should be fixed in my repository. The worker charges and promotions doesn't seem broken. The click banner to enter city and purchasing units also doesn't seem to be broken.

You can try it out by following the instructions for manual install (https://github.com/Azurency/CQUI_Community-E

[2020-05-24 12:58] wayneb64 commented on #421
[UI.zip](https://github.com/Azurency/CQUI_Community-Edition/files/4673539/UI.zip)
[Expansion1_UI.zip](https://github.com/Azurency/CQUI_Community-Edition/files/4673540/Expansion1_UI.zip)
[Expansion2_UI.zip](https://github.com/Azurency/CQUI_Community-Edition/files/4673541/Expansion2_UI.zip)

Let me know if these uploaded OK.

[2020-05-24 13:55] alimulhuda commented on #421
@wayneb64 Just took a quick look and it seems like all the files I might want to look at are present. Thanks again.

[2020-05-24 15:12] skelzer commented on #421
Hey, I'm pretty used to LUA, so I think I could be able to lend a hand here. Is there a list of issues with the current version or are you just checking tracebacks and in-game behaviour? I'm sure I'll have some time next weekend and I wouldn't mind getting into Civ modding, seeing as how the frontier pass will probably break the game on every milestone update.

[2020-05-24 17:28] alimulhuda commented on #421
@wayneb64 Could you do me another small favour and tell me what version number you are on? It should show up on the lower left corner in the main menu screen and should look like 1.0.0.XXX (XXXXX).

I think the mod creators were keeping track of the unmodified UI files in another repository and I want to do the same while following their log message convention which includes the version number.

[2020-05-24 18:39] alimulhuda commented on #421
I'm trying to get the mod into an unbroken state. What I'm doing is just looking at in-game behaviour and log message tracebacks. The issue list seems to be issues before the patch broke things.

The possibility of the frontier pass breaking things frequently is also what got me off my ass (figuratively) to try mod bug fixing. Thanks to the coronavirus it's not like I have much else to do on weeke

[2020-05-24 18:49] the-m4a commented on #421
Excellent thought @alimulhuda - thank you @wayneb64 - was curious about the same.  I am having all sorts of trouble understanding the mechanisms with importing of files.  Their docs don't go into a lot of depth, so I have been banging my head on trying to figure out how that all works, as I think it would be beneficial to try and to get away from the replacing of files and use inheritence and over

[2020-05-24 18:49] wayneb64 commented on #421
1.0.0.341(443561)

[2020-05-25 01:48] doomsday-machine commented on #421
Frontier Pass broke this version I've been using. It worked fine with Gathering Storm.
https://github.com/Azurency/CQUI_Community-Edition/tree/expansion2

I should know better than to update & purchase new expansions before CQUI is updated haha

EDIT: If you have another link to a working Frontier Pass version, please do share; you might've mentioned it but I'm not sure.

[2020-05-25 10:10] the-m4a commented on #421
I merged changes into my master branch that include @alimulhuda 's changes to remove the customized diplomacy banner (as that same thing is now built into the game).  Most of my work was to review any of the replacement files in this Mod and start clearly marking the CQUI changes in an attempt to make this easier to manage in the future (thanks again @wayneb64 for uploading those).

https://github

[2020-05-25 17:29] alexeyOnGitHub commented on #421
I merged it in this new fork: https://github.com/civfanatics/CQUI_Community-Edition/

[2020-05-25 17:30] doomsday-machine commented on #421
Awesome. Can't wait for you guys to fix this. I can help in every way but with coding :)

[2020-05-25 17:52] Azurency commented on #421
Hello everyone, I have approximately no time to look at the code or anything at the moment (and it's been like that for a while now). But I can give you some tips and information on how I handled updating the files in the past. Feel free to ask anything, I'll try to answer when I can.

The logic behind not merging everything in master was to be able to give every player the chance to play with CQU

[2020-05-25 21:51] the-m4a commented on #421
**Partially Functional Version:** https://github.com/the-m4a/CQUI_Community-Edition
- Disabled CQUI enhancements for Diplomacy views (temporary, until we can investigate further).
- City screen appears to be ok, city banner is ok, diplo ribbon is ok (latter two are @alimulhuda 's work that I incorporated).

I am hoping some folks can download this version and play for a bit and identify any issues

[2020-05-25 23:09] alexeyOnGitHub commented on #421
@the-m4a thank you for doing this. I have no strong preference on what repo becomes the current "official" one as long as we get the ball rolling and restore this amazing mod to its functional state.
I suggest using this repo as the base going forward - https://github.com/civfanatics/CQUI_Community-Edition/ ,  mostly because this would be a team-owned repo, hopefully with several contributors.

[2020-05-25 23:26] cyrilh commented on #421
Hi,

@the-m4a Thanks for your effort, I’m not sure what your answer implies in terms of distributing the Mod to most folk via Steam but at least it seems indeed you have fixed the main issues I could observe.

I quick tested your zip file on my machine and I confirm all the bugs I identified are fixed:
-          Diplomacy ribbon
-          Deal screen (I was calling it Trade Screen by mistake)
-

[2020-05-26 02:16] doomsday-machine commented on #421
@the-m4a Yes, I played with it a bit, everything not disabled seems to be working.

[2020-05-26 04:09] finndo77 commented on #421
I agree, it will help additional resources to be able to work on the repo as there will be more eyes for reviewing and approving changes, although this inherently slows the process, albeit very minor.

I have acquired the latest zip within the last hour and will be testing for an extended period over the next 24 hours, I will record everything I can in regards to any reproducible issues that come

[2020-05-26 12:12] skelzer commented on #421
Thanks @finndo77  for the testing, where will you document the issues that you find?

Also thanks @the-m4a for getting the mod into a functional state again.

Also, I agree with the team-owned repo, it's probably the best option.

[2020-05-26 13:43] dev2008 commented on #421
Do we know who owns this repository?  I'm happy to get involved with organising and administration (I am a Mod on CivFanatics).

[2020-05-26 15:41] ctrulove commented on #421
I was able to install and validate this version. The non-disabled functionallity appeared to work properly. I am running the base New Frontier Pass version 1.0.1.501 (504666).

Thank you @the-m4a for getting this working again!

FWIW, I am a newbie when it comes to LUA and Civ6 Modding but would love to help however I can.

[2020-05-26 16:33] finndo77 commented on #421
I tested with both the master branch and expansion_2 branch on this repo.

version - 1.0.1.501 (504666)
game settings:
started a new game, continents, huge, max players, max city states, king, standard, abundant resources, old age, low sea, no score victory, no turn limit, no teams, advanced startup, no other community mods

with master branch the game was unplayable, lots of issues, most notably

[2020-05-26 16:56] doomsday-machine commented on #421
Use the branch linked in this thread

[2020-05-26 17:26] finndo77 commented on #421
the-m4a branch?

[2020-05-26 17:46] doomsday-machine commented on #421
Yes, this one https://github.com/the-m4a/CQUI_Community-Edition

[2020-05-26 19:01] the-m4a commented on #421
@doomsday-machine  @dev2008
I haven't yet had the chance to integrate the changes to the MoreLenses, though like folks said it shouldn't be too much.  Once we figure out who owns the CivFanatics GitRepo, I'll send a Pull-Request to move the code there.

[2020-05-26 19:17] alexeyOnGitHub commented on #421
@the-m4a I sent you an invite to join "civfanatics-cqui" team (part of "civfanatics" org in GH). I added "civfanatics-cqui" team to "CQUI_Community-Edition" repo with read+write permissions. I am the owner of "civfanatics" org on github.

[2020-05-26 19:27] finndo77 commented on #421
working much better :)
no obvious issues so far, I'll keep an eye on the repo move and merged pulls to continue testing. will pay attention to anything specifically mentioned as being worked on.  if any files are required, just drop a note and I'll post them.

[2020-05-26 19:30] sulcata-dev commented on #421
Hi: Partially-fixed version seems to be working fine for me. The envoy screen is broken (can't assign envoys to city-states) but I believe that was a pre-Frontier-Pass issue?

[2020-05-26 19:36] dev2008 commented on #421
Can you invite me as well please, thanks!

[2020-05-26 19:46] wayneb64 commented on #421
Everything was working fine except for one lens for National Parks.

[2020-05-26 20:38] finndo77 commented on #421
ok, I have not had any issues with envoys, but once in a while when I click the "a unit needs orders" and it is a builder, no lens activates.  I am setting up intentional situations to test if it is always or sometimes at this time.

update:
definitely happens when I give a build a move task that will take more than 1 turn, but not use up all movement on the second turn (note I have the game set t

[2020-05-27 01:07] sulcata-dev commented on #421
just double checked envoys and it looks like it was another mod I had turned on. false alarm! sorry about that!

[2020-05-27 05:19] alimulhuda commented on #421
@the-m4a I've fixed the diplomacy view in my repo. If you get some time could you look it over. Also I'm not sure what the proper git action is to notify you of changes so I'm just commenting here.

[2020-05-27 05:31] the-m4a commented on #421
@alimulhuda Last time I merged the changes in manually (one file at a time, literally opening up what you did on one screen and doing the same changes on my other).  I'll see if I can create a pull request from yours to mine (if not, I assume as you'd have to make that request).

@alexeyOnGitHub - I don't see any requests... but if it's an organization thing, I don't know if I can switch.  I use t

[2020-05-27 07:11] alexeyOnGitHub commented on #421
@the-m4a I added you as a collaborator to this repo: https://github.com/civfanatics/CQUI_Community-Edition, with r/w permissions. note - you can belong to multiple GH orgs and/or teams inside GH orgs too.

[2020-05-27 08:26] the-m4a commented on #421
@alimulhuda Looking at your changes - ~~the XML file appears broken?  Did you push the most recent change set to the remote branch?  Specifically the line 333 is a start of a comment with no end.  I'll play around and see if what had originally been there should've stayed (it was just other commented code).~~
It appears it was just a chunk of missing commented code - as so far it appears to work o

[2020-05-27 09:33] alimulhuda commented on #421
Sorry I missed the extra lines of deleted code. I've also added back the unintentionally deleted commented lines in my repo again.

[2020-05-27 09:50] the-m4a commented on #421
No worries... though I did something on my end, _i think_, that broke it again and I can't figure out what I did.

I mean - it was working and I was curious about a single anchor difference in the two XML files when I was comparing them (your diplomacydealview.xml to the one in my repo) and suddenly, it's not seeing the other changes.  something is weird.

[2020-05-27 10:17] the-m4a commented on #421
I don't know what it was, but it's fixed now.  I re-imported your XML and it worked.  So I'm working to upload it into my repo right now.

Edit: Integrated changes by @alimulhuda into the master branch in my repo.  Updated top comment in this thread as I think it means this mod is functional again...

https://github.com/the-m4a/CQUI_Community-Edition

I really need to get to sleep - so I'll have t

[2020-05-27 22:45] alimulhuda commented on #421
@alexeyOnGitHub For longer term development of the mod I think the community group should also fork the repo that tracks the unmodded game UI files. The most updated version should be the one I forked from Azurency. https://github.com/alimulhuda/Civ6-UIFiles. I found it very helpful when trying to figure out how to fix the diplomacy deal view, so I'm thinking others would also find a use for it.

[2020-05-28 00:00] finndo77 commented on #421
If we are moving to the civfanatics repo, I report issues found there, I would suggest getting known issues added over there and we can discuss the same as we are doing here, but broken up by issue. so they can be worked individually.

[2020-05-28 00:36] alexeyOnGitHub commented on #421
done, cloned https://github.com/alimulhuda/Civ6-UIFiles to https://github.com/civfanatics/Civ6-UIFiles

I am happy to add people as contributors, but I need to collect some info on who our planned contributors are. I do not want to become some kind of gatekeeper for these repos, I expect this to be a community-driven effort. but given that collaborators will have read/WRITE permissions, I think it

[2020-05-28 01:23] finndo77 commented on #421
I do not intend on having any access to this group, I am just trying to help get things going again.
Wishing all the best.

I have some familiarity with programming, Cobol, Basic, Java, Powershell, and bash scripting.  I consider myself a beginner in all of them, even though I have worked on and off with code since 1984.  I can read most (programming) languages and understand what is going on, but

[2020-05-28 04:29] the-m4a commented on #421
edit: for the time being, I'm very interested in helping make this work, just to clarify. :)

@alexeyOnGitHub if I'm being honest, I don't know the amount of time I can contribute.  That said, I work with Git on a daily basis, and while I'm mostly fluent in C#, I can get by in most other languages.  I am a developer that often works with SQL and similar.  I'm a big fan of code cleanliness as I bel

[2020-05-28 05:59] the-m4a commented on #421
Also - the Civ6-UIFiles.  Is there any reason to keep the Expansion1 and Expansion2 in separate branches? The multiple "sources of truth" doesn't make a lot of sense, especially when the presence of Expansion1 and/or Expansion2 do not change what is found in Civ6\Base\Assets\UI.

I verified that statement above and created a PR in the Civ6-UIFiles repo.  Having everything in that master branch mak

[2020-05-28 08:18] the-m4a commented on #421
@alexeyOnGitHub I have created a PR to pull the changes from my branch into the CivFanatics master branch.  These changes include the updates made to the MoreLenses mod for the new Frontier Pass.
https://github.com/civfanatics/CQUI_Community-Edition/pull/2

This should get us back to a functional state with the mod - there may still be bugs here and there that can be addressed, but that said, than

[2020-05-28 13:16] alimulhuda commented on #421
I just did the update in a way I thought Azurency was maintaining it, where the expansion1 branch is master branch + files from DLC/expansion1 overwriting and adding files, and similar with expansion2. As long as the files from DLC\Expansion1 and DLC\Expansion2 are in the repo it should be good. I just didn't have time to modify the folder structure into what I would prefer to use.

Personally I w

[2020-05-28 15:25] alexeyOnGitHub commented on #421
@alimulhuda files history is preserved after merges and you can always go back and see what has changed. git commits disappear from history when you squash them via "rebase", but that is not what is happening here. I would not worry about losing history after merging PRs.
the proposal from @the-m4a to minimize the amount of folders looks reasonable to me. we can always split folders into expansion

[2020-05-28 16:22] therealcrow999 commented on #421
If you guys decided to work on it more, can you fix this old issues with World Tracker. It is talked about how to remove the bug here:
https://github.com/Azurency/CQUI_Community-Edition/issues/14

Has something do when Modular Screens was added to CQUI years ago. But some of it remained behind. This is why when you click on the World Tracker tick mark, it never closes or opens. Azurency talks abou

[2020-05-28 18:05] Richelieu77 commented on #421
A minor request:  move the CQUI gossip popups frame down one inch (the horizontal gossip banners that appear at the center top of the screen).  If you're playing with a dozen or more civs the diplomacy ribbons obscure the gossip frame.

(Sorry if I'm posting this in the wrong place, I am not familiar with Github.)

EDIT:  Thank you so much for implementing this so fast!  Amazing response!

[2020-05-28 23:30] alimulhuda commented on #421
@alexeyOnGitHub I don't have much experience with Git so it's helpful for me to speak to someone experienced. The specific thing I was concerned about was regarding the PR I referenced. Right now if I go to https://github.com/civfanatics/Civ6-UIFiles/commits/expansion2/Replacements/WorldRankings.xml I can see it was changed a few times. If I go to the merged location here https://github.com/civfan

[2020-05-29 00:37] the-m4a commented on #421
@alimulhuda - your'e right, it would lose the history on those files.
I _think_ if we did a move on those files in those repos it would preserve the existing history... it's easy enough to try (at least in the sense of having all the things already set up), I'll give it a look and see.

[2020-05-29 01:18] the-m4a commented on #421
Okay... yeah, this setup with the multiple branches is just odd, because it doesn't match the layout you'd get in the base game and expansions.

For example, the folder layout in the _Master_ branch looks like this
- Root
 - Accessibility
 - Automation
 - Choosers
 - Civilopedia
... and so on (only going as far as needed to make the point)

In the _Expansion2_ branch, it's this:
- Root
 - Accessib

[2020-05-29 02:30] alexeyOnGitHub commented on #421
ok, I see what you mean by losing history. those files were added as new ones rather than moved.
I am fine with moving if that is doable. we can revert the latest merge or just drop the repo and re-create it, then have a PR to  move the files.

[2020-05-29 04:13] the-m4a commented on #421
okay - totally lame, but if you move a file it's history is no longer visible, at least in the GitHub web UI.  So, if we'd want to have a more logical structure, we'd lose history unless we manually recreate it (I'm sure there's a way to do it via script... but I don't want to figure that out right now).

~~For example, this file [PlayerDeuteranopiaColors.xml](https://github.com/the-m4a/Civ6-UIFil

[2020-05-29 05:02] the-m4a commented on #421
@therealcrow999 - I'll comment in that thread for that bug... but I don't see what you're talking about?

[2020-05-29 06:30] the-m4a commented on #14
I'm not 100% clear on what is not being dismissed - the small "bar" there? I started a game with everything (including the expansions) turned off, except for CQUI.  I can make the bar appear if I hit that little circle - that bar appears to the side, if I hit that circle again, the bar on the side goes away...

![image](https://user-images.githubusercontent.com/8787640/83228340-01966f80-a13b-11ea-

[2020-05-29 08:02] the-m4a commented on #416
thanks for this - I'll include it in a fix tonight
edit: in the CQUI - it's using the current ML, but added this fix, based on your recommendation.  So far it seems to work.

[2020-05-29 08:25] the-m4a commented on #421
@Richelieu77 I made a change so it'll show below that ribbon now.  Thanks!
I also fixed the extra builder item appearing in the lenses list - as reported in #416 - thanks to @Swarsele for the investigation and suggested fix (I did something close to what was suggested).

We need people to review the PR pending from my branch to the CivFanatics branch.

@alexeyOnGitHub how do we get this published

[2020-05-29 11:09] dev2008 commented on #421
If we change this to an Organization we can have finer control over permissions. I see testers etc as a vital part of this team so not everybody will need write access.

For myself I'm a Moderator on Civ Fanatics and am responsible for the various Hall of Fames including the websites (html/css/php), Mods (Buffy etc) and the Forums.

I also look after a few other websites and have used Git for many

[2020-05-29 12:07] Swarsel commented on #14
I think the most simple solution to this problem is to simply remove the circular button  (and also that other dropdown button to the left of "World tracker") - when would you ever want to hide them? The only case I can think of is taking a screenshot, for which many solutions already exist.

![image](https://user-images.githubusercontent.com/32304731/83257910-976ee080-a1b5-11ea-8e9a-fc2c895cdf60.

[2020-05-29 12:28] theMikeD commented on #421
To preserve the history of a file you are moving, don't use the OS. Open a terminal and use `git mv`

[2020-05-29 12:33] MForster commented on #421
This is [incorrect](https://git.wiki.kernel.org/index.php/GitFaq#Why_does_Git_not_.22track.22_renames.3F):

[2020-05-29 12:33] wayneb64 commented on #14
I didn't even know there was a combat log, always wanted one, is this a CQUI feature or something that is part of the base game? Is that what the little circle button was supposed to hide/show? I have noticed that button but never saw it do anything.

Not sure I want it visible all the time however, depends on how much space it takes up.

[2020-05-29 12:35] theMikeD commented on #421
*shrug* it has definitely made a difference for me on several occasions.

[2020-05-29 15:01] mlsad3 commented on #421
@MForster @theMikeD , I've hit issues due to Mac and Windows being case-insensitive filesystems. If you rename a file and all you do is change the case (myfile.txt --> MyFile.txt), the operating system will lie to Git and tell Git that the file hasn't changed. Git says "Does myfile.txt still exist? if so, what is in the file?" Windows/Mac says "Yeah, it's still there, here's the data".

https://st

[2020-05-29 16:08] alexeyOnGitHub commented on #421
hi!  "civfanatics" GitHub organization currently has 3 teams: civfanatics (default top-level), "civfanatics-cqui" (r/w on CQUI repo), "civfanatics-admins" (with the intention of grouping admins on all repos in "civfanatics" org).
I do not have a sense how many people will want to participate in this project, so hard to predict proper permissions and teams structure. we probably do not need teams w

[2020-05-29 18:29] Swarsel commented on #14
My bad - that is part of ConciseUI; I am using heavily modified versions of several mods, so I often times forget what comes from what. You can however easily get this by downloading conciseUI and delete everything in the folder /modules except for /world_tracker. You can decide between three sizes of the logs, and you can change them ingame. Goes from completely collapsed to the maximum if about

[2020-05-30 02:25] alimulhuda commented on #421
@alexeyOnGitHub You might need to turn on the issues tab for both the repos in https://github.com/civfanatics. I feel like we should continue discussions over there and separate out by different topics (team discussions/join requests, restructuring for the unmodded files, fix for case-sensitive file systems, etc). This post is starting to get difficult to follow, and I would like to continue organ

[2020-05-30 02:46] the-m4a commented on #421
Alimulhudas suggestion is a good one, if we are to treat the civfanatics repo as the new official location we should move issues there

Also clarifying regarding ‘git mv’ - I used that to move the files.  Whatever git command (with —follow) will still show the history, but that history is not visible on GitHub web, which is where I would expect most people would look for it.  It’s a known issue -

[2020-05-30 05:03] alexeyOnGitHub commented on #421
enabled "Issues" feature there

[2020-05-30 16:06] alexeyOnGitHub commented on #421
@the-m4a @alimulhuda  created https://github.com/civfanatics/Civ6-UIFiles/issues/3
cannot tag you there yet because you are not in the teams/org yet.
let's focus on fixing that issue first before we merge anything else into Civ6-UIFiles.

[2020-06-01 03:17] Malice1997 commented on #313
@Azurency Does this still need to be done?

[2020-06-01 03:31] the-m4a commented on #14
I opened an issue for this in our new repo location
https://github.com/civfanatics/CQUI_Community-Edition/issues/7

[2020-06-14 12:34] Lukaszkl007 opened #424 "Commercial offers from civilization"
**Describe the bug**
Commercial offers from civilization is empty.
SC:
https://drive.google.com/file/d/1OSiZxzpq8SdUzfPTnM8CIyeJeZOrkKiy/view?usp=sharing

I have received such "offers" from several civilizations. I have civ 6 from epic store (basic)

[2020-06-27 19:41] IngmarBitter commented on #355
I checked the current (2020.06.27) state of the Assets\UI\PartialScreens\cityStates.lua file.
It still has
`function AddCityStateRow( kCityState:table )` which I changed to
`function AddCityStateRowMod( kCityState:table )`
and
`local kInst :table = AddCityStateRow( kCityState );` which I changed to
`local kInst :table = AddCityStateRowMod( kCityState );`

It seems to me the "fix" makes city states

[2020-06-28 03:19] the-m4a commented on #355
@IngmarBitter - are you using other mods?  I haven't been able to reproduce this issue.
Can you post this as an issue in the CivFanatics repo?  https://github.com/civfanatics/CQUI_Community-Edition/issues
And also post your Lua.log and Modding.log files?  (I don't know where they're stored on a Mac, likely near where your save files are, in Logging folder)

[2020-07-14 23:51] UltraDiuve opened #425 "Apocalypse mode (New Frontier) : cannot sacrifice units to volcanoes"
Not sure if this is the relevant repo to log this issue. I ran into it in my first Apocalypse game with the New Frontier pass.

When trying to sacrifice a unit during the Appease the Gods competition, the user interface does not allow to select the unit to sacrifice.

To reproduce:
1- launch a game with CQUI mod as the only activated mod, with Apocalypse option activated
2- wait for an Appease the

[2020-07-14 23:53] UltraDiuve commented on #425
[worldinput.txt](https://github.com/Azurency/CQUI_Community-Edition/files/4922098/worldinput.txt)

Could not find a way to attached the modified file as is, had to rename it to .txt. This file should be put in the Assets/UI/ folder.

I would gladly create a pull request if that would be the proper way.

[2020-07-15 05:15] Sorxus commented on #425
This version of CQUI isn't maintained anymore, try this one:
https://github.com/civfanatics/CQUI_Community-Edition

[2020-07-20 16:44] UltraDiuve commented on #425
Thanks for the information @Sorxus . It looks like the issue has been fixed (and many other things with it) on this other repo.

I close this issue.

[2020-07-20 16:44] #425 closed, assigned to nobody

[2020-07-27 21:08] nurbles commented on #421
Well, this is where I was sent by the REPORT ISSUES link in the Civ 6 workshop TODAY (July 27, 2020).  I don't think that "historically" really applies as this is where people are _CURRENTLY_ being sent by the mod/workshop.

Also, I keep **DISABLING** CQUI because it makes games unplayable (ever since I got the first Frontier Pass update).  I then play for a few hours, usually shortly into the ear

[2020-07-27 21:35] alimulhuda commented on #421
@nurbles if the report issue button sent you here then you are on the old CQUI. If you search the workshop for CQUI you want to look for the version uploaded by the_m4a, not the one by sparrow. The report button in the new one should send you to the repo mentioned at the top of this issue.

To remove all versions of CQUI you would need to unsubscribe from all the version that show up on steam work

[2020-07-27 22:05] alimulhuda commented on #421
The workshop downloads Civ6 mods into `C:\Program Files (x86)\Steam\steamapps\workshop\content\289070`

[2020-07-28 02:20] the-m4a opened #426 "This Version of CQUI is no longer updated"
**This version (Azurency / CQUI_Community-Edition) is no longer up to date.  Subsequently, the Workshop Post (uploaded by Sparrow) for CQUI that used this code is also out of date.**

We forked this repo and have been updating CQUI here: https://github.com/civfanatics/CQUI_Community-Edition

The Workshop release point is now here: https://steamcommunity.com/sharedfiles/filedetails/?id=2115302648

[2020-07-28 09:58] nurbles commented on #421
Just out of curiosity, how many "old" CQUI versions are there?  I still had TWO showing in the Civ 6 mod list, one was obsolete (or something like that) and could no longer be activated, while the other worked right up to the first frontier pack update.  Is this the new normal?  Every time there's an update to Civ 6, we remove CQUI and hunt down the newer version?

@alimulhuda  Thanks for the info

[2020-07-28 12:20] wayneb64 commented on #421
You could try a search for the letters CQUI from the content folder to find the correct subfolder(s) that contain versions of CQUI. The latest is 2115302648.

[2020-07-28 13:27] alimulhuda commented on #421
@nurbles The only time you should see new entries in Steam would be when an old maintainer stops updating. Right now our understanding is that Steam only allows the original uploader to upload any updates, so the current version by the_m4a should continue to be updated for as long as the_m4a stays active (so no hunting for new ones whenever there is an update). We also weren't able to contact spar

[2020-07-28 21:48] nurbles commented on #421
@alimulhuda and @wayneb64 Thanks so much for your assistance!  All the old stuff is gone -- unsubscribing using the Steam Workshop cleared most, and manually removing the most ancient version from Documents/My Games took care of the rest.  I found and installed the **the_m4a** version and it is working.  Slightly different than I remember, but as I learn the changes, probably even better!  Thanks

[2020-09-19 12:51] #253 closed

[2022-05-28 19:31] tkantonen commented on #418
In my case the solution was that I take queue checkmark away on production list. And whola case solved! 🥳